Ical-To-Schedule.json
[
    {
        "id": "748d34b69945229e",
        "type": "subflow",
        "name": "Ical Server status dashboard",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "0215e2a57b3949af"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 536.0000095367432,
            "y": 72.00000762939453,
            "wires": [
                {
                    "id": "a78fc4570d60a50e",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "0215e2a57b3949af",
        "type": "function",
        "z": "748d34b69945229e",
        "g": "56ddcac0c0ce91bd",
        "name": "Rooms",
        "func": "let rooms = global.get('g_rooms');\n\nlet queueControl = {};\n\nfunction createEvent() {\n    node.warn(\"Updating Ical Server Status Dashboard\");\n    queueControl.controlledByEventFromIcalNbr = controlledByEventFromIcalNbr;\n    queueControl.startTimeUpdateSchedule = Date.now();\n    queueControl.roomCounter = 0;\n    flow.set('sf_queueControl', queueControl);\n\n    for (let j = 0; j < rooms.length; j++) {\n        if (rooms[j].control === \"controlledByEventFromIcal\") {\n            node.send({\n                action: \"queue\",\n                payload: rooms[j]\n            });\n        }\n    }\n}\n\nlet controlledByEventFromIcalNbr = rooms.filter(element => element.control === \"controlledByEventFromIcal\").length;\nlet interval = context.get('icalServerUpdate');\n\n\nif (!interval) {\n    createEvent();\n    interval = setInterval(createEvent, 60 * 60 * 1000);\n    context.set('icalServerUpdate', interval);\n}\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 120,
        "wires": [
            [
                "a78fc4570d60a50e"
            ]
        ],
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "5c689af129e4aca8",
        "type": "function",
        "z": "748d34b69945229e",
        "g": "56ddcac0c0ce91bd",
        "name": "Unqueue",
        "func": "let queueControl = flow.get('sf_queueControl');\n\nqueueControl.roomCounter++;\n\nif(queueControl.roomCounter % queueControl.controlledByEventFromIcalNbr == 0){\n    //node.warn(`${queueControl.controlledByEventFromIcalNbr} URL processed in ${(Date.now() - queueControl.startTimeUpdateSchedule) / 1000} s`);\n}\n\nmsg.action = \"unqueue\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//flow.set('f_isControllerReady', true);\n",
        "finalize": "",
        "libs": [],
        "x": 1199.999984741211,
        "y": 121.00003623962402,
        "wires": [
            [
                "3824cb3cf8c0621c"
            ]
        ]
    },
    {
        "id": "a78fc4570d60a50e",
        "type": "function",
        "z": "748d34b69945229e",
        "g": "56ddcac0c0ce91bd",
        "name": "Room Queue",
        "func": "let roomsQueue = flow.get('f_roomsQueue');\nconst maxQueueSize = 50;\n\n\n////////////////// Queue ////////////////\nif (msg.action === \"queue\") {\n    if (roomsQueue.length >= maxQueueSize) {\n        node.error(`Room queue has exeeded its maximum size ${maxQueueSize}`);\n        return null;\n    }\n    else if (roomsQueue.length == 0 && flow.get('f_initialStart')) {\n        // First message, no need to queue.\n        flow.set('f_initialStart', false);\n        //node.warn(\"Testing ical server for each URL...\");\n        return {\n            \"url\": msg.payload.url,\n            \"timezone\": msg.payload.timeZone,\n            \"preview\": msg.payload.nbrDaysPreview,\n            \"roomConf\": msg.payload,\n            \"status\": { fill: \"green\", shape: \"dot\", text: `Room queue size : ${roomsQueue.length}` }\n        }\n    }\n    else {\n        //node.warn(\"Other message, Queue\");\n        roomsQueue.push(msg.payload);\n        flow.set('f_roomsQueue', roomsQueue);\n    }\n}\n\n////////////////// Unqueue ////////////////\nelse if (msg.action === \"unqueue\") {\n    if (roomsQueue.length === 0) {\n        flow.set('f_initialStart', true);\n        //node.warn(\"Unqueue with lenght == 0, initialStart = true\");\n    }\n    else {\n        let newRoom = roomsQueue.shift();\n        flow.set('f_roomsQueue', roomsQueue);\n        //node.warn(\"Unqueue\");\n        return {\n            \"url\": newRoom.url,\n            \"timezone\": newRoom.timeZone,\n            \"preview\": msg.payload.nbrDaysPreview,\n            \"roomConf\": newRoom,\n            \"status\": { fill: \"green\", shape: \"dot\", text: `Room queue size : ${roomsQueue.length}` }\n        }\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "let roomsQueue = [];\nflow.set('f_roomsQueue', roomsQueue);\n\nlet initialStart = true;\nflow.set('f_initialStart', initialStart);\n",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "5671a1e5f3287655"
            ]
        ]
    },
    {
        "id": "5671a1e5f3287655",
        "type": "ical-upcoming",
        "z": "748d34b69945229e",
        "g": "56ddcac0c0ce91bd",
        "confignode": "f73555ac13078ac6",
        "timeout": "",
        "timeoutUnits": "seconds",
        "cron": "",
        "name": "Get Room calendar",
        "offsettype": "",
        "offset": "",
        "offsetUnitstype": "",
        "offsetUnits": "",
        "eventtypes": "events",
        "eventtypestype": "eventtypes",
        "calendar": "",
        "calendartype": "str",
        "triggertype": "trigger",
        "trigger": "always",
        "timezone": "",
        "timezonetype": "str",
        "dateformat": "{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }",
        "dateformattype": "json",
        "language": "en",
        "languagetype": "language",
        "filterProperty": "summary",
        "filterPropertytype": "filterProperty",
        "filterOperator": "between",
        "filterOperatortype": "filterOperator",
        "filtertype": "str",
        "filter2type": "str",
        "filter2": "",
        "filter": "",
        "checkall": false,
        "endpreview": "",
        "endpreviewUnits": "",
        "previewtype": "num",
        "preview": "20",
        "previewUnitstype": "previewUnits",
        "previewUnits": "days",
        "pastviewtype": "num",
        "pastview": "0",
        "pastviewUnits": "days",
        "pastviewUnitstype": "pastviewUnits",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "5648769ea9ad31f9"
            ]
        ]
    },
    {
        "id": "5648769ea9ad31f9",
        "type": "function",
        "z": "748d34b69945229e",
        "g": "56ddcac0c0ce91bd",
        "name": "Error Handle",
        "func": "let roomConf = msg.roomConf;\nlet errorIcalTab = global.get('g_errorIcalTab');\n\nlet status = msg.error ? false : true;\n\nlet since;\nif (errorIcalTab[roomConf.scheduleID] == undefined){\n    since = (new Date()).toLocaleString(\"fr-FR\", { timeZone: \"Europe/Paris\" });\n} else if (status != errorIcalTab[roomConf.scheduleID][\"Status\"] ){\n    since = (new Date()).toLocaleString(\"fr-FR\", { timeZone: \"Europe/Paris\" });\n}else {\n    since = errorIcalTab[roomConf.scheduleID][\"Since\"];\n}\n\nlet roomName = roomConf.scheduleName;\n\nlet lastError = \"\";\nif ((msg.error + \"\").includes(\"ENOTFOUND\")) {\n    lastError = \"ENOTFOUND\";\n} else if ((msg.error + \"\").includes(\"ECONNRESET\")) {\n    lastError = \"ECONNRESET\";\n} else if ((msg.error + \"\").includes(\"ERROR 404\")) {\n    lastError = \"ERROR 404\";\n} else if ((msg.error + \"\").includes(\"ETIMEDOUT\")) {\n    lastError = \"ETIMEDOUT\";\n} else if ((msg.error + \"\").includes(\"ERROR 500\")) {\n    lastError = \"ERROR 500\";\n} else if (msg.error) {\n    lastError = \"OTHER\";\n} else {\n    lastError = errorIcalTab[roomConf.scheduleID]?.[\"Last Error\"] ?? \"Never Happenned\";\n}\n\nlet totalErrorTolal;\nif (msg.error) {\n    totalErrorTolal = (errorIcalTab[roomConf.scheduleID]?.[\"Total errors\"] ?? 0) + 1;\n}\nelse {\n    totalErrorTolal = (errorIcalTab[roomConf.scheduleID]?.[\"Total errors\"] ?? 0);\n}\n\nerrorIcalTab[roomConf.scheduleID] = {\n    \"Status\": status,\n    \"Since\" : since,\n    \"Room Name\": roomConf.scheduleName,\n    \"Last Error\": lastError,\n    \"Total errors\": totalErrorTolal\n};\n\n\nglobal.set('g_errorIcalTab', errorIcalTab);\n\nif (msg.error) {\n    return [null, msg];\n}\nelse {\n    return [msg, null];\n}\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n//let errorIcalObj = {};\nlet errorIcalTab = [];\n//global.set('g_errorIcalObj', errorIcalObj);\nglobal.set('g_errorIcalTab', errorIcalTab);\n\n",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 120,
        "wires": [
            [
                "e03dd46e6be64489"
            ],
            [
                "5c689af129e4aca8"
            ]
        ]
    },
    {
        "id": "e03dd46e6be64489",
        "type": "function",
        "z": "748d34b69945229e",
        "g": "56ddcac0c0ce91bd",
        "name": "function 1",
        "func": "//Function when no error happened\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1019.9999847412109,
        "y": 81.00003623962402,
        "wires": [
            [
                "5c689af129e4aca8"
            ]
        ]
    },
    {
        "id": "5599502802f84b66",
        "type": "inject",
        "z": "748d34b69945229e",
        "g": "4581681af4424807",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g_errorIcalTab",
        "payloadType": "global",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "0229ab11fa6b9c32"
            ]
        ]
    },
    {
        "id": "ec1435ac53c536d4",
        "type": "ui-table",
        "z": "748d34b69945229e",
        "g": "4581681af4424807",
        "group": "8d1a2ecbd08fcd88",
        "name": "Status table",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "deselect": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "Status",
                "key": "Status",
                "keyType": "key",
                "type": "tickcross",
                "width": "",
                "align": "center"
            },
            {
                "title": "Since",
                "key": "Since",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Room Name",
                "key": "Room Name",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Last Error",
                "key": "Last Error",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Total errors",
                "key": "Total errors",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0229ab11fa6b9c32",
        "type": "function",
        "z": "748d34b69945229e",
        "g": "4581681af4424807",
        "name": "Filter",
        "func": "\nreturn {\n    payload : msg.payload.filter(element => element != undefined)\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "ec1435ac53c536d4"
            ]
        ]
    },
    {
        "id": "8d1a2ecbd08fcd88",
        "type": "ui-group",
        "z": "748d34b69945229e",
        "name": "ADE Server Status",
        "page": "22e0741a4a10bee3",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3824cb3cf8c0621c",
        "type": "junction",
        "z": "748d34b69945229e",
        "g": "56ddcac0c0ce91bd",
        "x": 299.99998474121094,
        "y": 121.00003623962402,
        "wires": [
            [
                "a78fc4570d60a50e"
            ]
        ]
    },
    {
        "id": "56ddcac0c0ce91bd",
        "type": "group",
        "z": "748d34b69945229e",
        "name": "Create events",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "0215e2a57b3949af",
            "5c689af129e4aca8",
            "a78fc4570d60a50e",
            "5671a1e5f3287655",
            "5648769ea9ad31f9",
            "e03dd46e6be64489",
            "3824cb3cf8c0621c"
        ],
        "x": 114,
        "y": 40.00003623962402,
        "w": 1171.999984741211,
        "h": 122
    },
    {
        "id": "4581681af4424807",
        "type": "group",
        "z": "748d34b69945229e",
        "name": "Onboard GTC",
        "style": {
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "5599502802f84b66",
            "ec1435ac53c536d4",
            "0229ab11fa6b9c32"
        ],
        "x": 314,
        "y": 199,
        "w": 632,
        "h": 82
    },
    {
        "id": "22e0741a4a10bee3",
        "type": "ui-page",
        "name": "ADE server",
        "ui": "e09cfd48728aad39",
        "path": "/ade",
        "icon": "home",
        "layout": "grid",
        "theme": "ce70820df616b739",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "e09cfd48728aad39",
        "type": "ui-base",
        "name": "Default UI",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "ce70820df616b739",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "69fa40f5c518b9d9",
        "type": "subflow",
        "name": "scheduleAV update",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 140,
                "wires": [
                    {
                        "id": "d9c8245f9b935b72"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 140,
                "wires": [
                    {
                        "id": "309c45d1bf3bbd51",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d9c8245f9b935b72",
        "type": "function",
        "z": "69fa40f5c518b9d9",
        "g": "562449522d8cb9db",
        "name": "Get schedule value",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\n\nfunction getSchedulePresentValue() {\n  let property_references = [];\n\n  node.warn(\"Updating scheduleAV...\");\n\n  for (let room of rooms) {\n    if (\n      room.control === \"controlledByEventFromIcal\" ||\n      room.control === \"controlledBySchedule\"\n    ) {\n      property_references.push({\n        type: \"Schedule\",\n        instance: room.scheduleID,\n        property: \"presentValue\"\n      });\n    }\n  }\n\n  node.send({\n    method: \"POST\",\n    url: `https://${icalToScheduleConf.controllerIPAddress}/api/rest/v2/services/bacnet/local/objects/read-property-multiple`,\n    headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n    payload: {\n      \"encode\": \"text\",\n      \"property-references\": property_references\n    },\n    icalToScheduleConf: icalToScheduleConf,\n    rooms: rooms\n  });\n}\n\nlet interval = context.get(\"scheduleInterval\");\n\nif (!interval) {\n  node.warn(`ScheduleAV will be updated every ${icalToScheduleConf.timeBetweenScheduleAVUpdate} secs`);\n  setTimeout(() => {\n    getSchedulePresentValue();\n    let interval = setInterval(getSchedulePresentValue, icalToScheduleConf.timeBetweenScheduleAVUpdate * 1000);\n    context.set(\"scheduleInterval\", interval);\n  }, 1000);\n}\n\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "eefe6f4e18368b8d"
            ]
        ]
    },
    {
        "id": "eefe6f4e18368b8d",
        "type": "http request",
        "z": "69fa40f5c518b9d9",
        "g": "562449522d8cb9db",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "05935cade0f28272"
            ]
        ]
    },
    {
        "id": "05935cade0f28272",
        "type": "function",
        "z": "69fa40f5c518b9d9",
        "g": "562449522d8cb9db",
        "name": "Write scheduleAV",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nlet property_references = [];\nlet results = msg.payload.results;\nlet setpoint;\n\n\nfor (let i = 0; i < results.length; i++) {\n  setpoint = results[i].value;\n  if (!setpoint || setpoint.includes(\"Null\")) {\n    node.warn(`Schedule ${results[i].instance} returns 0 or NULL`);\n  } else if (setpoint.includes(\"Unknown Object\")){\n    node.warn(`Schedule ${results[i].instance} doesn't exist`);\n  }else{\n  let temp = '{ \"type\": \"analogValue\", \"instance\": ' + (icalToScheduleConf.scheduleAVInstanceOffset + results[i].instance) + ', \"property\": \"presentValue\", \"value\": ' + setpoint + ' }';\n  property_references.push(JSON.parse(temp));\n  }\n}\n\n\nreturn {\n  method: \"POST\",\n  url: `https://${icalToScheduleConf.controllerIPAddress}/api/rest/v2/services/bacnet/local/objects/write-property-multiple`,\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    \"encode\": \"text\",\n    \"property-references\": property_references\n  }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "309c45d1bf3bbd51"
            ]
        ]
    },
    {
        "id": "309c45d1bf3bbd51",
        "type": "http request",
        "z": "69fa40f5c518b9d9",
        "g": "562449522d8cb9db",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "562449522d8cb9db",
        "type": "group",
        "z": "69fa40f5c518b9d9",
        "name": "Link schedules and  scheduleAV",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000",
            "stroke": "#d1d1d1",
            "label-position": "n"
        },
        "nodes": [
            "d9c8245f9b935b72",
            "eefe6f4e18368b8d",
            "05935cade0f28272",
            "309c45d1bf3bbd51"
        ],
        "x": 154,
        "y": 99,
        "w": 732,
        "h": 82
    },
    {
        "id": "f33b48a9db5775f9",
        "type": "subflow",
        "name": "Configuration",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "0a22dbefe945e1a5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1360,
                "y": 500,
                "wires": [
                    {
                        "id": "35675d0d71153dcf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 560,
            "y": 460,
            "wires": [
                {
                    "id": "cf30b1fd186a52f4",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "0a22dbefe945e1a5",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "7887c949a2fa716c",
        "name": "Delete schedule",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nlet requests = [];\nlet id = 1;\n\n// Delete all Schedule from range\nfor (let inst = icalToScheduleConf.scheduleInstanceRange[0]; inst <= icalToScheduleConf.scheduleInstanceRange[1]; inst++) {\n  {\n    requests.push({\n      id: String(id),\n      method: \"DELETE\",\n      url: `/api/rest/v2/services/bacnet/local/objects/schedules/${inst}`\n    });\n    id++\n  }\n}\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 100,
        "wires": [
            [
                "eff1beb6101e98b5"
            ]
        ]
    },
    {
        "id": "eff1beb6101e98b5",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "7887c949a2fa716c",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "d2b052b0dded9737"
            ]
        ]
    },
    {
        "id": "d2b052b0dded9737",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "7887c949a2fa716c",
        "name": "Create Schedule",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\n\nlet requests = [];\nlet id = 1;\nlet scheduleNbr = 0;\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\") {\n    scheduleNbr++;\n  }\n}\n\nnode.warn(`Creating ${scheduleNbr} Schedules...`);\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\") {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: \"/api/rest/v2/services/bacnet/local/objects/add\",\n      body: {\n        \"object-type\": \"schedule\",\n        \"instance-number\": rooms[i].scheduleID,\n        \"name\": rooms[i].scheduleName\n      }\n    });\n\n    id++;\n  }\n}\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "257e24ab3c5da25d"
            ]
        ]
    },
    {
        "id": "257e24ab3c5da25d",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "7887c949a2fa716c",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 100,
        "wires": [
            [
                "c7f4461a9273c688"
            ]
        ]
    },
    {
        "id": "b832441d55badea7",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "60c3679c606b47f2",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "9d9893690a03cd25"
            ]
        ]
    },
    {
        "id": "a6e3cfb05519d183",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "60c3679c606b47f2",
        "name": "Delete scheduleAV",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet requests = [];\nlet id = 1;\n\n// Delete all scheduleAV from range\nfor (let inst = icalToScheduleConf.scheduleInstanceRange[0]; inst <= icalToScheduleConf.scheduleInstanceRange[1]; inst++) {\n  {\n    requests.push({\n      id: String(id),\n      method: \"DELETE\",\n      url: `/api/rest/v2/services/bacnet/local/objects/analog-values/${inst + icalToScheduleConf.scheduleAVInstanceOffset}`\n    });\n\n    id++\n  }\n}\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 220,
        "wires": [
            [
                "b832441d55badea7"
            ]
        ]
    },
    {
        "id": "9d9893690a03cd25",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "60c3679c606b47f2",
        "name": "Create scheduleAV",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\n\nlet requests = [];\nlet id = 1;\nlet scheduleAVNbr = 0;\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    scheduleAVNbr++;\n  }\n}\n\nnode.warn(`Creating ${scheduleAVNbr} scheduleAV...`);\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: \"/api/rest/v2/services/bacnet/local/objects/add\",\n      body: {\n        \"object-type\": \"AnalogValue\",\n        \"instance-number\": rooms[i].scheduleID + icalToScheduleConf.scheduleAVInstanceOffset,\n        name: `scheduleAV-${rooms[i].scheduleName}`\n      }\n    });\n\n    id++;\n  }\n}\n\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 220,
        "wires": [
            [
                "8114bf7d0dc66b62"
            ]
        ]
    },
    {
        "id": "8114bf7d0dc66b62",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "60c3679c606b47f2",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 220,
        "wires": [
            [
                "1bf82c3ec50800c9"
            ]
        ]
    },
    {
        "id": "c7f4461a9273c688",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "7887c949a2fa716c",
        "name": "Set default",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\n\nlet requests = [];\nlet id = 1;\n\nfor (let i = 0; i < rooms.length; i++) {\n\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\") {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: `/api/rest/v2/services/bacnet/local/objects/schedules/${rooms[i].scheduleID}`,\n      body: {\n        \"schedule-default\": 19,\n        description: `Room ${rooms[i].scheduleName}`\n      }\n    });\n\n    id++;\n  }\n}\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 100,
        "wires": [
            [
                "2e5ed530394f1b11"
            ]
        ]
    },
    {
        "id": "2e5ed530394f1b11",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "7887c949a2fa716c",
        "name": "HTTP",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 100,
        "wires": [
            [
                "9ee6050374854ff5"
            ]
        ]
    },
    {
        "id": "7068cd7b280e6019",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "2ec2dd5006d1403d",
        "name": "Delete all bindings",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nlet requests = [];\nlet bindingList = [];\nlet id = 1;\n\nif (!msg.payload || typeof msg.payload !== 'object') {\n    node.error('Invalid payload: expected an object');\n    return null;\n}\n\nfor (let binding in msg.payload) {\n    if (msg.payload.hasOwnProperty(binding)) {\n        bindingList.push(binding);\n    }\n}\n\nfor (let i = 0; i < bindingList.length; i++) {\n    requests.push({\n        id: String(id),\n        method: \"DELETE\",\n        url: `/api/rest/v2/services/events/bindings/${bindingList[i]}`\n    });\n\n    id++\n}\n\nreturn {\n    method: \"POST\",\n    url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n    headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n    payload: {\n        requests: requests\n    },\n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            [
                "d22d2eb2ad6d30cc"
            ]
        ]
    },
    {
        "id": "d22d2eb2ad6d30cc",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "2ec2dd5006d1403d",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "480cffc1c1df6580"
            ]
        ]
    },
    {
        "id": "2754b1683d01ad1e",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "2ec2dd5006d1403d",
        "name": "List Bindings",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nreturn {\n    method: \"GET\",\n    url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/events/bindings\",\n    headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 340,
        "wires": [
            [
                "5353e82dca8c4449"
            ]
        ]
    },
    {
        "id": "5353e82dca8c4449",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "2ec2dd5006d1403d",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "7068cd7b280e6019"
            ]
        ]
    },
    {
        "id": "b15e0162a3aa919f",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "2ec2dd5006d1403d",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 340,
        "wires": [
            [
                "816890f28828b6e9"
            ]
        ]
    },
    {
        "id": "480cffc1c1df6580",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "2ec2dd5006d1403d",
        "name": "create Bindings",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\nlet deviceList = global.get(\"g_deviceList\");\n\nlet requests = [];\nlet id = 1;\nlet bindingSetNbr = 0;\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    bindingSetNbr++;\n  }\n}\n\nnode.warn(`Creating ${bindingSetNbr} binding sets...`);\n\n/******  For Each room  ******/\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    let deviceTypes = Object.keys(rooms[i].devices);\n    let scheduleName = rooms[i].scheduleName;\n    let scheduleID = rooms[i].scheduleID;\n    let scheduleAVinstanceNum = rooms[i].scheduleID + icalToScheduleConf.scheduleAVInstanceOffset;\n\n    /******  Each device type  ******/\n    for (let j = 0; j < deviceTypes.length; j++) {\n      let AVToBindName = rooms[i].devices[deviceTypes[j]].AVToBindName;\n      let AVToBindNameInstanceNumOffset = deviceList[deviceTypes[j]].bacnet.objects[rooms[i].devices[deviceTypes[j]].AVToBindName].instanceNum;\n      let offsetAV = deviceList[deviceTypes[j]].bacnet.offsetAV;\n\n      /******  Each device Num  ******/\n      for (let k = 0; k < rooms[i].devices[deviceTypes[j]].deviceNums.length; k++) {\n        let deviceNum = rooms[i].devices[deviceTypes[j]].deviceNums[k];\n        let AVToBindNameInstanceNum = deviceList[deviceTypes[j]].bacnet.instanceRangeAV * deviceNum + AVToBindNameInstanceNumOffset + offsetAV;\n\n        requests.push({\n          id: String(id),\n          method: \"POST\",\n          url: `/api/rest/v2/services/events/bindings/binding_scheduleAV-${scheduleName}_${AVToBindName}-${AVToBindNameInstanceNum}`,\n          body: {\n            //key: \"Don't need this??\",\n            type: \"ControlElement\",\n            \"element-a\": `/services/bacnet/local/objects/analog-values/${icalToScheduleConf.scheduleAVInstanceOffset + scheduleID}`,\n            \"element-b\": `/services/bacnet/local/objects/analog-values/${AVToBindNameInstanceNum}`,\n            initialize: \"a-to-b\",\n            \"sync-a-to-b\": {\n              options: { priorities: true, \"write-priority\": 14, value: false, \"out-of-service\": true },\n              triggers: { \"1\": { key: \"1\", \"min-sync-time\": 0.0, type: \"OnChange\" } }\n            }\n          }\n        });\n        id++;\n      }\n    }\n  }\n}\n\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n  icalToScheduleConf: icalToScheduleConf,\n  rooms: rooms\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 340,
        "wires": [
            [
                "b15e0162a3aa919f"
            ]
        ]
    },
    {
        "id": "8ce9b18af3cebad6",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "7c1c45391173e445",
        "name": "Rooms",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\n\nlet queueControl = {};\n\nfunction createEvent() {\n    queueControl.controlledByEventFromIcalNbr = controlledByEventFromIcalNbr;\n    queueControl.startTimeUpdateSchedule = Date.now();\n    queueControl.roomCounter = 0;\n\n    flow.set('sf_queueControl', queueControl);\n    for (let j = 0; j < rooms.length; j++) {\n        if (rooms[j].control === \"controlledByEventFromIcal\" ) {\n            node.send({\n                action: \"queue\",\n                payload: rooms[j]\n            });\n        }\n    }\n}\n\nlet controlledByEventFromIcalNbr = rooms.filter(element => element.control === \"controlledByEventFromIcal\").length;\ncreateEvent();\nnode.warn(`Ical Event will be updated every ${icalToScheduleConf.timeBetweenScheduleUpdate/60} mins`);\nsetInterval(createEvent, icalToScheduleConf.timeBetweenScheduleUpdate * 1000); \n\n\n\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 500,
        "wires": [
            [
                "cf30b1fd186a52f4"
            ]
        ],
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "35675d0d71153dcf",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "7c1c45391173e445",
        "name": "Unqueue",
        "func": "let queueControl = flow.get('sf_queueControl');\n\nqueueControl.roomCounter++;\n\nif (queueControl.roomCounter % queueControl.controlledByEventFromIcalNbr === 0) {\n    node.warn(`${queueControl.controlledByEventFromIcalNbr} rooms processed in ${(Date.now() - queueControl.startTimeUpdateSchedule) / 1000} s`);\n    node.status({ fill: \"green\", shape: \"dot\", text: `Process time : ${(Date.now() - queueControl.startTimeUpdateSchedule) / 1000} s` });\n    queueControl.startTimeUpdateSchedule = Date.now();\n    return [ {payload : true}, { action: \"unqueue\" }];\n} else {\n    return [null, { action: \"unqueue\"}];\n}\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//flow.set('f_isControllerReady', true);\n",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 500,
        "wires": [
            [],
            [
                "cf30b1fd186a52f4"
            ]
        ]
    },
    {
        "id": "cf30b1fd186a52f4",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "7c1c45391173e445",
        "name": "Room Queue",
        "func": "let roomsQueue = flow.get('f_roomsQueue');\nlet rooms = global.get('g_rooms');\nconst maxQueueSize = 150;\n\n\n////////////////// Queue ////////////////\nif (msg.action === \"queue\") {\n    if (roomsQueue.length >= maxQueueSize) {\n        //node.status({ fill: \"red\", shape: \"dot\", text: `Queue overflow (max : ${maxQueueSize})} ` });\n        node.error(`Room queue has exeeded its maximum size ${maxQueueSize}`);\n        return null;\n    }\n    else if (roomsQueue.length === 0 && flow.get('f_initialStart')) {\n        // First message, no need to queue.\n        flow.set('f_initialStart', false);\n        node.warn(\"Creating events for each room...\");\n        return {\n            \"url\": msg.payload.url,\n            \"timezone\": msg.payload.timeZone,\n            \"preview\": msg.payload.nbrDaysPreview,\n            \"roomConf\": msg.payload,\n            \"status\": { fill: \"green\", shape: \"dot\", text: `Room queue size : ${roomsQueue.length}` }\n\n        }\n    }\n    else {\n        //node.warn(\"Other message, Queue\");\n        roomsQueue.push(msg.payload);\n        flow.set('f_roomsQueue', roomsQueue);\n    }\n}\n\n////////////////// Unqueue ////////////////\nelse if (msg.action === \"unqueue\") {\n    if (roomsQueue.length === 0) {\n        flow.set('f_initialStart', true);\n        //node.warn(\"Unqueue with lenght == 0, initialStart = true\");\n    }\n    else {\n        let newRoom = roomsQueue.shift();\n        flow.set('f_roomsQueue', roomsQueue);\n        //node.warn(\"Unqueue\");\n        return {\n            \"url\": newRoom.url,\n            \"timezone\": newRoom.timeZone,\n            \"preview\": newRoom.nbrDaysPreview,\n            \"roomConf\": newRoom,\n            \"status\": { fill: \"green\", shape: \"dot\", text: `Room queue size : ${roomsQueue.length}` }\n        }\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "let roomsQueue = [];\nflow.set('f_roomsQueue', roomsQueue);\n\nlet initialStart = true;\nflow.set('f_initialStart', initialStart);\n",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 500,
        "wires": [
            [
                "e882045259b5aaa0"
            ]
        ]
    },
    {
        "id": "0694d54d36faf630",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "7c1c45391173e445",
        "name": "HTTP",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "35675d0d71153dcf"
            ]
        ]
    },
    {
        "id": "e882045259b5aaa0",
        "type": "ical-upcoming",
        "z": "f33b48a9db5775f9",
        "g": "7c1c45391173e445",
        "confignode": "f73555ac13078ac6",
        "timeout": "",
        "timeoutUnits": "seconds",
        "cron": "",
        "name": "Get Room calendar",
        "offsettype": "",
        "offset": "",
        "offsetUnitstype": "",
        "offsetUnits": "",
        "eventtypes": "events",
        "eventtypestype": "eventtypes",
        "calendar": "",
        "calendartype": "str",
        "triggertype": "trigger",
        "trigger": "always",
        "timezone": "",
        "timezonetype": "str",
        "dateformat": "{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }",
        "dateformattype": "json",
        "language": "en",
        "languagetype": "language",
        "filterProperty": "summary",
        "filterPropertytype": "filterProperty",
        "filterOperator": "between",
        "filterOperatortype": "filterOperator",
        "filtertype": "str",
        "filter2type": "str",
        "filter2": "",
        "filter": "",
        "checkall": false,
        "endpreview": "",
        "endpreviewUnits": "",
        "previewtype": "num",
        "preview": "20",
        "previewUnitstype": "previewUnits",
        "previewUnits": "days",
        "pastviewtype": "num",
        "pastview": "0",
        "pastviewUnits": "days",
        "pastviewUnitstype": "pastviewUnits",
        "x": 630,
        "y": 500,
        "wires": [
            [
                "fa8debb3d63f3fd3"
            ]
        ]
    },
    {
        "id": "fa8debb3d63f3fd3",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "7c1c45391173e445",
        "name": "Create events",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nlet roomConf = msg.roomConf;\nlet eventNumber = msg.total;\nlet events = [/* {eventStart : Date , eventEnd : Date,, ...}*/];  // List of events to create.\nlet httpRequestEventList = {};\n\n///////////////////////////////////////////////////////////////////////\n/////////////////     Events manipulation  ////////////////////////////\n///////////////////////////////////////////////////////////////////////\n\nfunction eventCreation() {\n  for (let i = 0; i < eventNumber; i++) {\n    // Event are discarded according to their \"event description\" in the ics file.\n    if (!icalToScheduleConf.eventsToDiscard.some(discardStr => msg.payload[i].description?.includes(discardStr))) {\n\n      //////////  groupEvents == true   //////////////\n      if (icalToScheduleConf.groupEvents) {\n        let msgEventStart = new Date(msg.payload[i].eventStart);\n        let msgEventEnd = new Date(msg.payload[i].eventEnd);\n\n        // Check if an event with same Year-Month-Date already exists in events[].\n        const idx = events.findIndex(evt => {\n          return (\n            msgEventStart.getDate() === evt.eventStart.getDate() &&\n            msgEventStart.getMonth() === evt.eventStart.getMonth() &&\n            msgEventStart.getFullYear() === evt.eventStart.getFullYear()\n          );\n        });\n\n        if (idx != -1) {    // Event with same Year-Month-Date already exists, we merge.\n          if (msgEventStart < events[idx].eventStart) events[idx].eventStart = msgEventStart; // Update start time?\n          if (msgEventEnd > events[idx].eventEnd) events[idx].eventEnd = msgEventEnd;         // Update end time?\n        }\n        else {              // Event with same Year-Month-Date already doesn't exist, we add a new one.\n          //node.warn(\"Event added\");\n          events.push(msg.payload[i]);\n          events.at(-1).eventStart = new Date(events.at(-1).eventStart);  // at(-1) = last index\n          events.at(-1).eventEnd = new Date(events.at(-1).eventEnd);      // at(-1) = last index\n          events.at(-1).summary = \"Merged Events\";\n          //node.warn(events);\n        }\n      }\n\n      //////////  groupEvents == false   //////////////\n      else { // In that cas, we add a new one anyway.\n        //node.warn(\"Event added\");\n        events.push(msg.payload[i]);\n        events.at(-1).eventStart = new Date(events.at(-1).eventStart);  // at(-1) = last index\n        events.at(-1).eventEnd = new Date(events.at(-1).eventEnd);      // at(-1) = last index\n      }\n    }\n    else {\n      //node.warn(`Event ${i} : ${msg.payload[i].summary} is discarded`);\n    }\n  }\n\n  // node.warn(events);\n\n\n  ///////////////////////////////////////////////////////////////////////\n  /////////////////    HTTP Request Creation   //////////////////////////\n  ///////////////////////////////////////////////////////////////////////\n  let eventID = 1;\n\n  for (let i = 0; i < events.length; i++) {\n\n    let start = new Date(events[i].eventStart);\n    let end = new Date(events[i].eventEnd);\n\n    // Rule 1 : discard events shorter than 30 minutes\n    const durationMinutes = (end.getTime() - start.getTime()) / (1000 * 60);\n    if (durationMinutes < icalToScheduleConf.minimumSlotDuration) {\n      node.warn(`Event ${i} \"${events[i].summary}\" discarded (duration < ${icalToScheduleConf.minimumSlotDuration} min).`);\n      continue;\n    }\n\n    // Adjust the time with timeOffsetBeforeStart and timeOffsetBeforeEnd\n    if (icalToScheduleConf.groupEvents) {\n      const midnight = new Date(start);\n      midnight.setHours(0, 0, 0, 0);\n\n      start.setMinutes(start.getMinutes() - roomConf.timeOffsetBeforeStart);\n      end.setMinutes(end.getMinutes() - roomConf.timeOffsetBeforeEnd);\n\n      // Rule 2 : Clamp start to midnight if it went before 00:00\n      if (start < midnight) {\n        start = new Date(midnight);\n        node.warn(`Event ${i} \"${events[i].summary}\" clamp to midnight.`);\n      }\n\n      // Rule 3 : ensure start < end.\n      if (start >= end) {\n        node.warn(`Event ${i} \"${events[i].summary}\" discarded  (start >= end).`);\n        continue;\n      }\n    }\n\n\n    // Create Event request\n    let eventObject = {\n      [eventID]: {\n        \"event-priority\": 16,\n        period: {\n          date: {\n            month: start.getMonth() + 1,\n            year: start.getFullYear(),\n            \"day-of-month\": start.getDate()\n          },\n          type: \"Date\"\n        },\n        name: events[i].summary,\n        transitions: {\n          1: {\n            time: start.toLocaleTimeString(\"fr-FR\", { timeZone: icalToScheduleConf.timeZone }),\n            value: roomConf.tempOccupied,\n            key: \"1\"\n          },\n          2: {\n            time: end.toLocaleTimeString(\"fr-FR\", { timeZone: icalToScheduleConf.timeZone }),\n            value: null,\n            key: \"2\"\n          }\n        },\n        key: String(eventID)\n      }\n    };\n    eventID++;\n    httpRequestEventList = { ...httpRequestEventList, ...eventObject };   // Merge with the previous object\n  }\n\n  let request = {\n    \"method\": \"POST\",\n    \"url\": `https://${icalToScheduleConf.controllerIPAddress}/api/rest/v2/services/bacnet/local/objects/schedules/${roomConf.scheduleID}`,\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n    \"payload\": {\n      \"special-events\": httpRequestEventList,\n      \"weekly-schedule\" :  roomConf.weekly  ,\n      \"object-name\": roomConf.scheduleName,\n      \"schedule-default\": roomConf.tempUnoccupied\n    },\n    \"roomConf\": msg.roomConf\n  };\n\n  return request;\n}\n\n\nif (!msg.error) {\n  //node.warn(\"No error... continue\");\n  return [eventCreation(), null];\n} else {\n  node.error(`Error when getting Ical for room ${roomConf.scheduleName}`);\n  return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 500,
        "wires": [
            [
                "0694d54d36faf630"
            ],
            [
                "35675d0d71153dcf"
            ]
        ]
    },
    {
        "id": "9ee6050374854ff5",
        "type": "link out",
        "z": "f33b48a9db5775f9",
        "g": "7887c949a2fa716c",
        "name": "schedule out",
        "mode": "link",
        "links": [
            "e48cab65133c69e5"
        ],
        "x": 1255,
        "y": 100,
        "wires": []
    },
    {
        "id": "06c3f20432e068ed",
        "type": "link out",
        "z": "f33b48a9db5775f9",
        "g": "60c3679c606b47f2",
        "name": "scheduleAV out",
        "mode": "link",
        "links": [
            "baaab3900d810b91"
        ],
        "x": 1255,
        "y": 220,
        "wires": []
    },
    {
        "id": "816890f28828b6e9",
        "type": "link out",
        "z": "f33b48a9db5775f9",
        "g": "2ec2dd5006d1403d",
        "name": "bindings out",
        "mode": "link",
        "links": [
            "a993888d171b5dc1"
        ],
        "x": 1255,
        "y": 340,
        "wires": []
    },
    {
        "id": "e48cab65133c69e5",
        "type": "link in",
        "z": "f33b48a9db5775f9",
        "name": "scheduleAV in",
        "links": [
            "9ee6050374854ff5"
        ],
        "x": 55,
        "y": 220,
        "wires": [
            [
                "a6e3cfb05519d183"
            ]
        ]
    },
    {
        "id": "baaab3900d810b91",
        "type": "link in",
        "z": "f33b48a9db5775f9",
        "name": "bindings in",
        "links": [
            "06c3f20432e068ed"
        ],
        "x": 55,
        "y": 340,
        "wires": [
            [
                "2754b1683d01ad1e"
            ]
        ]
    },
    {
        "id": "a993888d171b5dc1",
        "type": "link in",
        "z": "f33b48a9db5775f9",
        "name": "link in 1",
        "links": [
            "816890f28828b6e9"
        ],
        "x": 55,
        "y": 500,
        "wires": [
            [
                "8ce9b18af3cebad6"
            ]
        ]
    },
    {
        "id": "1bf82c3ec50800c9",
        "type": "function",
        "z": "f33b48a9db5775f9",
        "g": "60c3679c606b47f2",
        "name": "Set default",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\n\nlet requests = [];\nlet id = 1;\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: `/api/rest/v2/services/bacnet/local/objects/analog-values/${rooms[i].scheduleID + icalToScheduleConf.scheduleAVInstanceOffset}`,\n      body: {\n        \"default-value\": rooms[i].tempOccupied\n      }\n    });\n\n    id++;\n  }\n}\n\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 220,
        "wires": [
            [
                "6a950ca5a01f3b41"
            ]
        ]
    },
    {
        "id": "6a950ca5a01f3b41",
        "type": "http request",
        "z": "f33b48a9db5775f9",
        "g": "60c3679c606b47f2",
        "name": "HTTP",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 220,
        "wires": [
            [
                "06c3f20432e068ed"
            ]
        ]
    },
    {
        "id": "e992fac85de69dcc",
        "type": "comment",
        "z": "f33b48a9db5775f9",
        "g": "7c1c45391173e445",
        "name": "",
        "info": "In case of error when getting the ical, the event creation process is skipped.",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "2ec2dd5006d1403d",
        "type": "group",
        "z": "f33b48a9db5775f9",
        "name": "Bindings",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#ffbfbf",
            "label-position": "n"
        },
        "nodes": [
            "7068cd7b280e6019",
            "d22d2eb2ad6d30cc",
            "2754b1683d01ad1e",
            "5353e82dca8c4449",
            "b15e0162a3aa919f",
            "480cffc1c1df6580",
            "816890f28828b6e9"
        ],
        "x": 114,
        "y": 299,
        "w": 1182,
        "h": 82
    },
    {
        "id": "7887c949a2fa716c",
        "type": "group",
        "z": "f33b48a9db5775f9",
        "name": "Schedule",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "0a22dbefe945e1a5",
            "eff1beb6101e98b5",
            "d2b052b0dded9737",
            "257e24ab3c5da25d",
            "c7f4461a9273c688",
            "2e5ed530394f1b11",
            "9ee6050374854ff5"
        ],
        "x": 114,
        "y": 59,
        "w": 1182,
        "h": 82
    },
    {
        "id": "60c3679c606b47f2",
        "type": "group",
        "z": "f33b48a9db5775f9",
        "name": "ScheduleAV",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "b832441d55badea7",
            "a6e3cfb05519d183",
            "9d9893690a03cd25",
            "8114bf7d0dc66b62",
            "06c3f20432e068ed",
            "1bf82c3ec50800c9",
            "6a950ca5a01f3b41"
        ],
        "x": 114,
        "y": 179,
        "w": 1182,
        "h": 82
    },
    {
        "id": "7c1c45391173e445",
        "type": "group",
        "z": "f33b48a9db5775f9",
        "name": "Create events",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "8ce9b18af3cebad6",
            "35675d0d71153dcf",
            "cf30b1fd186a52f4",
            "0694d54d36faf630",
            "e882045259b5aaa0",
            "fa8debb3d63f3fd3",
            "e992fac85de69dcc"
        ],
        "x": 114,
        "y": 419,
        "w": 1172,
        "h": 122
    },
    {
        "id": "f73555ac13078ac6",
        "type": "ical-config",
        "url": "",
        "caldav": "",
        "caltype": "ical",
        "name": "",
        "replacedates": false,
        "usecache": false,
        "username": "",
        "password": "",
        "experimental": false,
        "calendar": "",
        "pastWeeks": "0",
        "futureWeeks": "4"
    },
    {
        "id": "7c27a8c8ec69277d",
        "type": "tab",
        "label": "Ical to Schedule",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc921d23986230be",
        "type": "group",
        "z": "7c27a8c8ec69277d",
        "name": "For DEBUG",
        "style": {
            "label": true,
            "stroke": "#a4a4a4",
            "label-position": "n",
            "color": "#000000",
            "fill": "#e3f3d3"
        },
        "nodes": [
            "b2e15c96251c0167",
            "b59bd72bdeec5e96",
            "08ceecac32b48a7c",
            "3cda8c0c5dedfc71",
            "531b4fc2ca0f2a6f",
            "f7240e0a6a6f8b0e",
            "1f2ac394bda1cc0b",
            "20f1513c18662c8b",
            "02cf92fb5a649eb2",
            "2db9716c2bf9c19e",
            "e173306bea247783",
            "af277efbdafc5fe9",
            "5a6aef228d3f3021",
            "dd46e49040b2c855",
            "4c598606ae5d455f",
            "4b51466b3b124479",
            "6d0aadf93bcb3dcb",
            "4eb11c8599185bf8",
            "e4d83857f1e66295",
            "4e6ebaf5965c80ed",
            "ea2f4af98df53c6f",
            "e1be88ea5ff19887",
            "d298eee68a586a0c",
            "393d2de1a3dd4d28",
            "013c3b4d2ad370cb",
            "2fbfc9010c61fc0b",
            "6f466eea47a546ea",
            "cead8873ee8b73e1",
            "981fe7f22dccfc11",
            "1fa601afaa8cb01f"
        ],
        "x": 194,
        "y": 559,
        "w": 992,
        "h": 322
    },
    {
        "id": "e59f934448fe6324",
        "type": "group",
        "z": "7c27a8c8ec69277d",
        "name": "IcalToSchedule",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "9f3484831c9418f4",
            "092331c005116385",
            "4b68464aac34045b",
            "d8cdbaee723651d1",
            "c9c3bc0474ee9562"
        ],
        "x": 194,
        "y": 99,
        "w": 972,
        "h": 82
    },
    {
        "id": "717b28d528948e6a",
        "type": "group",
        "z": "7c27a8c8ec69277d",
        "name": "Onboard GTC",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "49235db22d809404",
            "f46ec136defc086f",
            "230c902f8db1e63d",
            "69e1761d1c7e77bd"
        ],
        "x": 794,
        "y": 219,
        "w": 452,
        "h": 142
    },
    {
        "id": "bbf40d89ed4a4a6b",
        "type": "group",
        "z": "7c27a8c8ec69277d",
        "name": "Onboard GTB",
        "style": {
            "label": true,
            "stroke": "#a4a4a4",
            "label-position": "n",
            "color": "#000000",
            "fill": "#ffefbf"
        },
        "nodes": [
            "4e9fa185e64d08de",
            "d10445613c7ec7c0"
        ],
        "x": 794,
        "y": 399,
        "w": 452,
        "h": 82
    },
    {
        "id": "9f3484831c9418f4",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "e59f934448fe6324",
        "name": "TO CONFIGURE",
        "func": "//////////////////////////////////////////////\n//////////////// TO CONFIGURE ////////////////\n//////////////////////////////////////////////\n\nconst printMissingDevice = false;\nconst defaultControl = \"controlledByEventFromIcal\"; //  controlledByEventFromIcal, controlledBySchedule, controlledByConstant, inactive\n\n// 1. Create BACnet Schedule\nconst timeBetweenScheduleUpdate = 60 * 60;    // Seconds, Time to refresh calendar events\nconst scheduleInstanceRange = [0, 50];\nconst groupEvents = true;               // Group events in 1 event/day\nconst timeZone = 'Europe/Paris';        // What are the other options ?\nconst eventsToDiscard = [\"SOBRIETE ENERGETIQUE\"]; // all events that content this string in their description will be ignored\nconst defaultTempOccupied = 20;\nconst defaultTempUnoccupied = 15;\nconst defaultTimeOffsetBeforeStart = 120;            // in mins\nconst defaultTimeOffsetBeforeEnd = 30;              // in mins\nconst defaultNbrDaysPreview = 10;                   // Days, max is defined in the \"Get Room Calendar\" node.\nconst defaultAddSuffixToAdeURL = true;\nconst minimumSlotDuration = 0;                     // in mins\nconst defaultWeekly = {\n    monday: { transitions: {} },\n    tuesday: { transitions: {} },\n    wednesday: { transitions: {} },\n    thursday: { transitions: {} },\n    friday: {\n        transitions: {\n            \"1\": { time: \"15:00:00.00\", value: 7, key: \"1\" },\n            \"2\": { time: \"23:59:59.00\", value: null, key: \"2\" }\n        }\n    },\n    saturday: {\n        transitions: {\n            \"1\": { time: \"00:00:00.00\", value: 7, key: \"1\" },\n            \"2\": { time: \"23:59:59.00\", value: null, key: \"2\" }\n        }\n    },\n    sunday: {\n        transitions: {\n            \"1\": { time: \"00:00:00.00\", value: 7, key: \"1\" },\n            \"2\": { time: \"21:00:00.00\", value: null, key: \"2\" }\n        }\n    }\n}\n\n// 2. Analog value for each schedule\nconst scheduleAVInstanceOffset = 10000;  //  The starting instance of theses values\nconst timeBetweenScheduleAVUpdate = 30; //   Seconds\n\n// 3. GTB\nconst timeBetweenGtbUpdate = 30; // Seconds\n\n// Info : \n// * minimumSlotDuration is only checked when groupEvents = false.\n// * defaultTimeOffsetBeforeStart and defaultTimeOffsetBeforeEnd are only applied when groupEvents = true.\n// * eventsToDiscard is always appliead whatever groupsEvents value.\n// * control : \n//          controlledByEventFromIcal : createSchedule, add event, create scheduleAV, create Bindings.\n//          controlledBySchedule :      createSchedule,            create scheduleAV, create Bindings.\n//          controlledByConstant :                                 create scheduleAV, create Bindings.\n//          Inactive : Does nothing.\n\n\n/////////////////////////////\n///// Rooms Informations  ///\n/////////////////////////////\n\n/* Room Template \n{\n    // Mandatory //\n    \"scheduleName\": \"roomName0\",\n    \"devices\": { \"device-1\": { \"deviceNums\": [1, 2, 3], \"AVToBindName\": \"controllerSetpoint\" } },\n    \"url\": 'https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=1480&projectId=5&calType=ical&lastDate=2042-08-14',\n    \n    // Mandatory if using GTB //\n    \"subStation\": \"8d-historique\", \n    \"3wvSector\": [ east, center, west ]\n    \n    // Optionnal, if not specified the default value will be applied //\n    \"control\": [ controlledByEventFromIcal, controlledBySchedule, controlledByConstant, inactive ]\n    \"weekly\" : defaultWeekly,\n    \"nbrDaysPreview\" : defaultNbrDaysPreview,\n    \"tempOccupied\": defaultTempOccupied,\n    \"tempUnoccupied\": defaultTempUnoccupied,\n    \"timeOffsetBeforeStart\": defaultTimeOffsetBeforeStart,\n    \"timeOffsetBeforeEnd\": defaultTimeOffsetBeforeEnd,\n    \"addSuffixToAdeURL\" : defaultAddSuffixToAdeURL\n\n\n*/\n\nlet rooms = [\n//////////////////////// BATIMENT HISTORIQUE ////////////////////////\n    {\n        \"scheduleName\": \"8D-001\",\n        \"devices\": { \"micropelt-mlr003\": { \"deviceNums\": [2, 5, 10, 11], \"AVToBindName\": \"controllerSetpoint\" } },\n        \"url\": \"https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=5465&projectId=5&calType=ical\",\n        \"subStation\": \"8d-historique\",\n        \"3wvSector\": \"west\"\n    },\n    {\n        \"scheduleName\": \"8D-004\",\n        \"devices\": { \"micropelt-mlr003\": { \"deviceNums\": [84], \"AVToBindName\": \"controllerSetpoint\" } },\n        \"url\": \"https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=5468&projectId=5&calType=ical\",\n        \"subStation\": \"8d-historique\",\n        \"3wvSector\": \"west\"\n    },\n    {\n        \"scheduleName\": \"8D-017\",\n        \"devices\": { \"micropelt-mlr003\": { \"deviceNums\": [12], \"AVToBindName\": \"controllerSetpoint\" } },\n        \"url\": \"https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=5471&projectId=5&calType=ical\",\n        \"subStation\": \"8d-historique\",\n        \"3wvSector\": \"center\"\n    },\n    {\n        \"scheduleName\": \"8D-118\",\n        \"devices\": { \"micropelt-mlr003\": { \"deviceNums\": [62], \"AVToBindName\": \"controllerSetpoint\" } },\n        \"url\": \"https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=24&projectId=5&calType=ical\",\n        \"subStation\": \"8d-historique\",\n        \"3wvSector\": \"center\"\n    },\n    {\n        \"scheduleName\": \"8D-119\",\n        \"devices\": { \"micropelt-mlr003\": { \"deviceNums\": [76, 77, 78], \"AVToBindName\": \"controllerSetpoint\" } },\n        \"url\": \"https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=9555&projectId=5&calType=ical\",\n        \"subStation\": \"8d-historique\",\n        \"3wvSector\": \"east\"\n    },\n    {\n        \"scheduleName\": \"8D-120\",\n        \"devices\": { \"micropelt-mlr003\": { \"deviceNums\": [1, 74, 75], \"AVToBindName\": \"controllerSetpoint\" } },\n        \"url\": \"https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=9558&projectId=5&calType=ical\",\n        \"subStation\": \"8d-historique\",\n        \"3wvSector\": \"east\"\n    },\n\n//////////////////////// BATIMENT EXTENSION ////////////////////////\n\n    {\n        \"scheduleName\": \"8D-006\",\n        \"devices\": { \"micropelt-mlr003\": { \"deviceNums\": [21, 22], \"AVToBindName\": \"controllerSetpoint\" } },\n        \"url\": \"https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=5456&projectId=5&calType=ical\",\n    },\n    {\n        \"scheduleName\": \"8D-007\",\n        \"devices\": { \"micropelt-mlr003\": { \"deviceNums\": [23, 24, 25], \"AVToBindName\": \"controllerSetpoint\" } },\n        \"url\": \"https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=5457&projectId=5&calType=ical\",\n    }\n];\n\n\n\n\n/////////////////////////////////////////////////\n/////////////// DO NOT MODIFY ///////////////////\n/////////////////////////////////////////////////\n\n// ============ CONSTANTS ============\nconst controlSet = [\"controlledByEventFromIcal\", \"controlledBySchedule\", \"controlledByConstant\", \"inactive\"];\nconst deviceList = global.get('g_deviceList');    // From LoRaBAC node\n\n// ============ UTILITY FUNCTIONS ============\nconst failConfiguration = (errorMessage) => {\n    node.error(errorMessage);\n    node.status({ fill: \"red\", shape: \"dot\", text: \"Configuration error\" });\n    return null;\n};\n\nconst hasOwn = (object, propertyName) => Object.prototype.hasOwnProperty.call(object, propertyName);\n\n// ============ VALIDATION: PRECONDITIONS ============\nif (rooms.length === 0) {\n    return failConfiguration(\"❌ No Room configuration available\");\n}\n\nif (!deviceList) {\n    return failConfiguration(\"❌ Device List missing from LoRaBAC node\");\n}\n\n// ============ VALIDATION: GLOBAL CONFIGURATION ============\nconst deviceTypeList = Object.keys(deviceList);\nconst firstDeviceType = deviceTypeList[0];\nconst controllerIPAddress = deviceList[firstDeviceType].controller.ipAddress;\nconst sameControllerForAllDevices = Object.values(deviceList)\n    .every(deviceConf => deviceConf.controller.ipAddress === controllerIPAddress);\n\nif (!sameControllerForAllDevices) {\n    return failConfiguration(\"❌ Controller IP Address are not all the same in device list\");\n}\n\nif (scheduleInstanceRange.length !== 2) {\n    return failConfiguration(\"❌ Wrong Schedule instance range\");\n}\n\nif (scheduleInstanceRange[0] < 0) {\n    return failConfiguration(`❌ scheduleInstanceRange[0] cannot be negative (got: ${scheduleInstanceRange[0]})`);\n}\n\nif (scheduleInstanceRange[0] > scheduleInstanceRange[1]) {\n    return failConfiguration(`❌ scheduleInstanceRange is inverted: [${scheduleInstanceRange[0]}, ${scheduleInstanceRange[1]}]`);\n}\n\nif (rooms.length > (scheduleInstanceRange[1] - scheduleInstanceRange[0] + 1)) {\n    return failConfiguration(\"❌ Too many rooms, increase Schedule Instance Range\");\n}\n\nconst scheduleNames = rooms.map(room => room.scheduleName);\nif (new Set(scheduleNames).size !== scheduleNames.length) {\n    return failConfiguration(\"❌ Duplicate ScheduleName in room configuration\");\n}\n\n// ============ VALIDATION: ROOM CONFIGURATION ============\nlet scheduleID = scheduleInstanceRange[0];\nlet deviceNums = {};\n\nfor (let room of rooms) {\n\n    room.scheduleID = scheduleID++;\n\n    if (!hasOwn(room, \"scheduleName\")) {\n        return failConfiguration(\"❌ One room has no scheduleName in room configuration\");\n    }\n\n    if (!hasOwn(room, \"devices\")) {\n        return failConfiguration(`❌ Room ${room.scheduleName} has no devices`);\n    }\n\n    if (!hasOwn(room, \"control\")) {\n        room.control = defaultControl;\n    }\n\n    if (!hasOwn(room, \"weekly\")) {\n        room.weekly = defaultWeekly;\n    }\n\n    if (!controlSet.includes(room.control)) {\n        return failConfiguration(`❌ Room ${room.scheduleName} control mode doesn't exist`);\n    }\n\n    if (!hasOwn(room, \"url\") && room.control === \"controlledByEventFromIcal\") {\n        return failConfiguration(`❌ Room ${room.scheduleName} has no url`);\n    }\n\n    if (!room.url && room.control === \"controlledByEventFromIcal\") {\n        return failConfiguration(`❌ url falsy value for ${room.scheduleName}`);\n    }\n\n    if (room.scheduleID > scheduleInstanceRange[1]) {\n        return failConfiguration(`❌ Room ${room.scheduleName} has a scheduleID over the allocated range (${scheduleInstanceRange[1]})`);\n    }\n\n    for (let [deviceType, roomDevice] of Object.entries(room.devices)) {\n        deviceNums[deviceType] = (deviceNums[deviceType] || []).concat(roomDevice.deviceNums);\n\n        if (!hasOwn(deviceList, deviceType)) {\n            return failConfiguration(`❌ Room ${room.scheduleName} has a device type that doesn't belong to the device list`);\n        }\n\n        const bacnetObjects = deviceList[deviceType].bacnet.objects;\n        if (!hasOwn(bacnetObjects, roomDevice.AVToBindName)) {\n            return failConfiguration(`❌ Room ${room.scheduleName} has a device with AVToBindName (${roomDevice.AVToBindName}) that doesn't exist in the device List`);\n        }\n\n        if (bacnetObjects[roomDevice.AVToBindName].dataDirection !== \"downlink\") {\n            return failConfiguration(`❌ ${roomDevice.AVToBindName} can't be an AVToBindName because it is not a downlink object in ${deviceType}`);\n        }\n\n        if (roomDevice.deviceNums.some(numDevice => numDevice > deviceList[deviceType].identity.maxDevNum)) {\n            return failConfiguration(`❌ Room ${room.scheduleName} has a device number that exceed the maximum (${deviceList[deviceType].identity.maxDevNum}) for device type ${deviceType}`);\n        }\n    }\n\n    if (!hasOwn(room, \"timeZone\")) {\n        room.timeZone = timeZone;\n    }\n    if (!room.timeZone) {\n        return failConfiguration(`❌ timeZone falsy value for ${room.scheduleName}`);\n    }\n\n    if (!hasOwn(room, \"tempUnoccupied\")) {\n        room.tempUnoccupied = defaultTempUnoccupied;\n    }\n    if (!room.tempUnoccupied) {\n        return failConfiguration(`❌ tempUnoccupied falsy value : ${room.tempUnoccupied}`);\n    }\n\n    if (!hasOwn(room, \"tempOccupied\")) {\n        room.tempOccupied = defaultTempOccupied;\n    }\n    if (!room.tempOccupied) {\n        return failConfiguration(`❌ tempOccupied falsy value : ${room.tempOccupied}`);\n    }\n\n    if (!hasOwn(room, \"timeOffsetBeforeStart\")) {\n        room.timeOffsetBeforeStart = defaultTimeOffsetBeforeStart;\n    }\n    if (!room.timeOffsetBeforeStart) {\n        return failConfiguration(`❌ timeOffsetBeforeStart falsy value : ${room.timeOffsetBeforeStart}`);\n    }\n\n    if (!hasOwn(room, \"timeOffsetBeforeEnd\")) {\n        room.timeOffsetBeforeEnd = defaultTimeOffsetBeforeEnd;\n    }\n    if (!room.timeOffsetBeforeEnd) {\n        return failConfiguration(`❌ timeOffsetBeforeEnd falsy value : ${room.timeOffsetBeforeEnd}`);\n    }\n\n    if (!hasOwn(room, \"nbrDaysPreview\")) {\n        room.nbrDaysPreview = defaultNbrDaysPreview;\n    }\n    if (!room.nbrDaysPreview) {\n        return failConfiguration(`❌ nbrDaysPreview falsy value : ${room.nbrDaysPreview}`);\n    }\n\n    if (!hasOwn(room, \"addSuffixToAdeURL\")) {\n        room.addSuffixToAdeURL = defaultAddSuffixToAdeURL;\n    }\n\n    if (room.addSuffixToAdeURL && room.control === \"controlledByEventFromIcal\") {\n        const date = new Date();\n        date.setDate(date.getDate() + room.nbrDaysPreview);\n        const adeSuffix = date.toISOString().slice(0, 10);\n\n        if (room.url.includes(\"&lastDate\")) {\n            room.url = room.url.replace(/&lastDate=\\d{4}-\\d{2}-\\d{2}/, `&lastDate=${adeSuffix}`);\n        }\n        else {\n            room.url += `&lastDate=${adeSuffix}`;\n        }\n    }\n}\n\n// ============ VALIDATION: DEVICE NUMBER DUPLICATES & GAPS ============\nlet missingDev = \"INFO : Missing devices : \";\nfor (let [deviceType, nums] of Object.entries(deviceNums)) {\n    const deviceNumSet = new Set(nums);\n\n    if (deviceNumSet.size !== nums.length) {\n        return failConfiguration(`❌ ${deviceType} has duplicate device numbers in the configuration`);\n    }\n\n    missingDev += `${deviceType} : `;\n    for (let i = 1; i < Math.max(...deviceNumSet); i++) {\n        if (!deviceNumSet.has(i)) {\n            missingDev += `${i}, `;\n        }\n    }\n}\n\nif (printMissingDevice) {\n    node.warn(missingDev);\n}\n\n// ============ FINAL SETUP & SUCCESS ============\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Configuration OK\" });\n\nfor (let deviceConf of Object.values(deviceList)) {\n    const buffer = Buffer.from(`${deviceConf.controller.login}:${deviceConf.controller.password}`);\n    deviceConf.controller.httpAuthentication = `Basic ${buffer.toString('base64')}`;\n}\n\nconst firstDevice = deviceList[firstDeviceType];\nconst icalToScheduleConf = {\n    controllerIPAddress: firstDevice.controller.ipAddress,\n    controllerLogin: firstDevice.controller.login,\n    controllerPassword: firstDevice.controller.password,\n    httpAuthentication: firstDevice.controller.httpAuthentication,\n    timeBetweenScheduleUpdate: timeBetweenScheduleUpdate,\n    timeBetweenScheduleAVUpdate: timeBetweenScheduleAVUpdate,\n    timeBetweenGtbUpdate: timeBetweenGtbUpdate,\n    scheduleInstanceRange: scheduleInstanceRange,\n    groupEvents: groupEvents,\n    timeZone: timeZone,\n    eventsToDiscard: eventsToDiscard,\n    scheduleAVInstanceOffset: scheduleAVInstanceOffset,\n    minimumSlotDuration: minimumSlotDuration,\n};\n\nglobal.set('g_rooms', rooms);\nglobal.set('g_icalToScheduleConf', icalToScheduleConf);\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 140,
        "wires": [
            [
                "4b68464aac34045b"
            ]
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "092331c005116385",
        "type": "inject",
        "z": "7c27a8c8ec69277d",
        "g": "e59f934448fe6324",
        "name": "Start after 0.5s",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "9f3484831c9418f4"
            ]
        ]
    },
    {
        "id": "b2e15c96251c0167",
        "type": "inject",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 255,
        "y": 600,
        "wires": [
            [
                "b59bd72bdeec5e96"
            ]
        ],
        "l": false
    },
    {
        "id": "b59bd72bdeec5e96",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "List Schedules",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects/schedules\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 600,
        "wires": [
            [
                "08ceecac32b48a7c"
            ]
        ]
    },
    {
        "id": "08ceecac32b48a7c",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 600,
        "wires": [
            [
                "3cda8c0c5dedfc71"
            ]
        ]
    },
    {
        "id": "3cda8c0c5dedfc71",
        "type": "debug",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Schedules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 600,
        "wires": []
    },
    {
        "id": "531b4fc2ca0f2a6f",
        "type": "inject",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 255,
        "y": 640,
        "wires": [
            [
                "f7240e0a6a6f8b0e"
            ]
        ],
        "l": false
    },
    {
        "id": "f7240e0a6a6f8b0e",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "List Bindings",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/events/bindings\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication , \"Content-Type\": \"application/json\" }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "1f2ac394bda1cc0b"
            ]
        ]
    },
    {
        "id": "1f2ac394bda1cc0b",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 640,
        "wires": [
            [
                "20f1513c18662c8b"
            ]
        ]
    },
    {
        "id": "20f1513c18662c8b",
        "type": "debug",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Bindings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 640,
        "wires": []
    },
    {
        "id": "02cf92fb5a649eb2",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Delete all bindings",
        "func": "let icalToScheduleConf = flow.get('f_icalToScheduleConf');\n\nlet requests = [];\nlet bindingList = [];\nlet id = 1;\n\nfor(let binding in msg.payload){\n    bindingList.push(binding);\n}\n\n\nfor (let i = 0 ; i < bindingList.length ; i++) {\nrequests.push(JSON.parse(`{ \"id\": \"${id}\", \"method\": \"DELETE\", \"url\": \"/api/rest/v2/services/events/bindings/${bindingList[i]}\"}`)); //Bindings name\n    id++\n}\n\n\nreturn {\n    \"method\": \"POST\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication , \"Content-Type\": \"application/json\" },\n    \"payload\": {\n        \"requests\": requests\n    }\n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "af277efbdafc5fe9"
            ]
        ]
    },
    {
        "id": "2db9716c2bf9c19e",
        "type": "inject",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 255,
        "y": 680,
        "wires": [
            [
                "5a6aef228d3f3021"
            ]
        ],
        "l": false
    },
    {
        "id": "e173306bea247783",
        "type": "debug",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Bindings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 680,
        "wires": []
    },
    {
        "id": "af277efbdafc5fe9",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 680,
        "wires": [
            [
                "e173306bea247783"
            ]
        ]
    },
    {
        "id": "5a6aef228d3f3021",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "List Bindings",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/events/bindings\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication , \"Content-Type\": \"application/json\" }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 680,
        "wires": [
            [
                "dd46e49040b2c855"
            ]
        ]
    },
    {
        "id": "dd46e49040b2c855",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 680,
        "wires": [
            [
                "02cf92fb5a649eb2"
            ]
        ]
    },
    {
        "id": "4b68464aac34045b",
        "type": "subflow:f33b48a9db5775f9",
        "z": "7c27a8c8ec69277d",
        "g": "e59f934448fe6324",
        "name": "Configuration",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "d8cdbaee723651d1"
            ]
        ]
    },
    {
        "id": "d8cdbaee723651d1",
        "type": "subflow:69fa40f5c518b9d9",
        "z": "7c27a8c8ec69277d",
        "g": "e59f934448fe6324",
        "name": "scheduleAV update",
        "x": 970,
        "y": 140,
        "wires": [
            [
                "c9c3bc0474ee9562"
            ]
        ]
    },
    {
        "id": "4b51466b3b124479",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "GET all objects",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" }\n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 720,
        "wires": [
            [
                "4eb11c8599185bf8"
            ]
        ]
    },
    {
        "id": "6d0aadf93bcb3dcb",
        "type": "inject",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Send Request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 255,
        "y": 720,
        "wires": [
            [
                "4b51466b3b124479"
            ]
        ],
        "l": false
    },
    {
        "id": "4eb11c8599185bf8",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "981e3c64757e1f1b",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 720,
        "wires": [
            [
                "4c598606ae5d455f"
            ]
        ]
    },
    {
        "id": "4c598606ae5d455f",
        "type": "debug",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Objects",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 720,
        "wires": []
    },
    {
        "id": "49235db22d809404",
        "type": "subflow:748d34b69945229e",
        "z": "7c27a8c8ec69277d",
        "g": "717b28d528948e6a",
        "name": "",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "f46ec136defc086f",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "717b28d528948e6a",
        "name": "GTC",
        "func": "let rooms = global.get('g_rooms');\n\nlet valves = [];\n\nrooms.forEach(room => {\n    let minutesNbr = room.timeToNextState;\n    let timeToNextState = \"\";\n    if (minutesNbr == -1) {\n        timeToNextState = \"Not yet scheduled\";\n\n    } else {\n        const days = Math.floor(minutesNbr / (24 * 60));\n        const hours = Math.floor((minutesNbr % (24 * 60)) / 60);\n        const minutes = minutesNbr % 60;\n\n        if (days == 0) {\n            timeToNextState = `${hours}h ${minutes}mins`;\n        } else {\n            timeToNextState = `${days}d ${hours}h ${minutes}mins`;\n        }\n    }\n    for (let valve in room.valves) {\n        valves.push({\n            \"status\": room.valves[valve].status,\n            \"occupency\" : room.occupency,\n            \"averageTemp\" : room.averageTemperature,\n            \"temperatureGap\" : room.temperatureGap,\n            \"scheduleName\": room.scheduleName,\n            \"deviceName\": valve,\n            \"valveTemperature\": room.valves[valve].valveTemperature,\n            \"valveSetpoint\": room.valves[valve].valveSetpoint,\n            \"valvePosition\": room.valves[valve].valvePosition,\n            \"ADE-Setpoint\": room.ADEsetpoint,\n            \"time-to-next-state\": timeToNextState\n        })\n    }\n})\n\n\nreturn {\n    payload: valves\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 260,
        "wires": [
            [
                "230c902f8db1e63d"
            ]
        ]
    },
    {
        "id": "230c902f8db1e63d",
        "type": "ui-table",
        "z": "7c27a8c8ec69277d",
        "g": "717b28d528948e6a",
        "group": "bb79fce18bf34dc3",
        "name": "Thermostatic valves dashboard",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Status",
                "key": "status",
                "keyType": "key",
                "type": "tickcross",
                "width": "",
                "align": "center"
            },
            {
                "title": "Room",
                "key": "scheduleName",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Occupency",
                "key": "occupency",
                "keyType": "key",
                "type": "tickcross",
                "width": "",
                "align": "center"
            },
            {
                "title": "Valve",
                "key": "deviceName",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Temperature",
                "key": "valveTemperature",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Average",
                "key": "averageTemp",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Gap",
                "key": "temperatureGap",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Position",
                "key": "valvePosition",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Setpoint",
                "key": "valveSetpoint",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "ADE Setpoint",
                "key": "ADE-Setpoint",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Time to next setpoint",
                "key": "time-to-next-state",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 1090,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4e6ebaf5965c80ed",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "List Special events",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects/schedules/0/special-events\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 760,
        "wires": [
            [
                "e1be88ea5ff19887"
            ]
        ]
    },
    {
        "id": "ea2f4af98df53c6f",
        "type": "inject",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 255,
        "y": 760,
        "wires": [
            [
                "4e6ebaf5965c80ed"
            ]
        ],
        "l": false
    },
    {
        "id": "e1be88ea5ff19887",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 760,
        "wires": [
            [
                "d298eee68a586a0c"
            ]
        ]
    },
    {
        "id": "d298eee68a586a0c",
        "type": "debug",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Schedules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 760,
        "wires": []
    },
    {
        "id": "393d2de1a3dd4d28",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Set weekly events",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nreturn {\n    \"method\": \"POST\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects/schedules/0/weekly-schedule\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n    \"payload\":\n    {\n        monday: {\n            transitions: {\n                \"1\": { time: \"14:00:00.00\", value: 7, key: \"1\" },\n                \"2\": { time: \"18:30:00.00\", value: null, key: \"2\" }\n\n            }\n        },\n        tuesday: { transitions: {} },\n        wednesday: { transitions: {} },\n        thursday: { transitions: {} },\n        friday: { transitions: {} },\n        saturday: { transitions: {} },\n        sunday: { transitions: {} }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 840,
        "wires": [
            [
                "2fbfc9010c61fc0b"
            ]
        ]
    },
    {
        "id": "013c3b4d2ad370cb",
        "type": "inject",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 255,
        "y": 840,
        "wires": [
            [
                "393d2de1a3dd4d28"
            ]
        ],
        "l": false
    },
    {
        "id": "2fbfc9010c61fc0b",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "HTTP",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 840,
        "wires": [
            [
                "e4d83857f1e66295"
            ]
        ]
    },
    {
        "id": "e4d83857f1e66295",
        "type": "debug",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Schedules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 840,
        "wires": []
    },
    {
        "id": "6f466eea47a546ea",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "List Weekly events",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects/schedules/0/weekly-schedule\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 800,
        "wires": [
            [
                "981fe7f22dccfc11"
            ]
        ]
    },
    {
        "id": "cead8873ee8b73e1",
        "type": "inject",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 255,
        "y": 800,
        "wires": [
            [
                "6f466eea47a546ea"
            ]
        ],
        "l": false
    },
    {
        "id": "981fe7f22dccfc11",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "ad66506e746a6eea",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "1fa601afaa8cb01f"
            ]
        ]
    },
    {
        "id": "1fa601afaa8cb01f",
        "type": "debug",
        "z": "7c27a8c8ec69277d",
        "g": "cc921d23986230be",
        "name": "Schedules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 800,
        "wires": []
    },
    {
        "id": "64972e35abb2f5b6",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "name": "GET all objects",
        "func": "let icalToScheduleConf = global.get('g_icalToScheduleConf');\n\nfunction getAllObject() {\n  node.warn(\"Executing Onboard GTB and GTC...\");\n  node.send({\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" }\n  });\n}\n\nlet interval = context.get(\"gtbInterval\");\n\nif (!interval) {\n  node.warn(`GTB and GTC will be updated every ${icalToScheduleConf.timeBetweenGtbUpdate} secs`);\n  getAllObject();\n  let interval = setInterval(getAllObject, icalToScheduleConf.timeBetweenGtbUpdate * 1000);\n  context.set(\"gtbInterval\", interval);\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "6f745c48f3eb5a09"
            ]
        ]
    },
    {
        "id": "38750b0f83c10f93",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "name": "Update Rooms",
        "func": "\nlet icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\n\n\n/***** Schedule dictionnary : { \"schedule-name\" : schedule object }  *****/\nlet schedules = {};\nObject.values(msg.payload?.schedules || null).forEach(sch => schedules[sch[\"object-name\"]] = sch);\n\n/***** AV dictionnary : { \"analogValue-name\" : AV object } *****/\nlet analogValues = {};\nObject.values(msg.payload?.[\"analog-values\"] || null).forEach(av => analogValues[av[\"object-name\"].replace(/-\\d+$/, '')] = av);\n\n\n// For all room --------------\nrooms.forEach(room => {\n\n    room.timeToNextState = schedules[room.scheduleName][\"time-to-next-state\"];\n    room.ADEsetpoint = schedules[room.scheduleName][\"present-value\"];\n    room.valves = {};\n\n    const deviceTypes = Object.keys(room.devices);\n\n    // For all deviceType ---------------\n    deviceTypes.forEach(deviceType => {\n        const deviceNums = room.devices[deviceType].deviceNums;\n        const deviceNames = deviceNums.map(num => `${deviceType}-${num}`);\n\n        // Far all device num (name) --------------\n        deviceNames.forEach(name => {\n            const valveTemperature = analogValues[`${name}-valveTemperature`] || undefined;\n            const valveSetpoint = analogValues[`${name}-valveSetpoint`] || undefined;\n            const controllerSetpoint = analogValues[`${name}-controllerSetpoint`] || undefined;\n            const valvePosition = analogValues[`${name}-valvePosition`] || undefined;\n            const status =\n                valveSetpoint?.[\"present-value\"] !== undefined &&\n                controllerSetpoint?.[\"present-value\"] !== undefined &&\n                valveSetpoint[\"present-value\"] === controllerSetpoint[\"present-value\"];\n\n\n            room.valves[name] = {\n                \"valveTemperature\": valveTemperature ? valveTemperature[\"present-value\"] : undefined,\n                \"valveSetpoint\": valveSetpoint ? valveSetpoint[\"present-value\"] : undefined,\n                \"controllerSetpoint\": controllerSetpoint ? controllerSetpoint[\"present-value\"] : undefined,\n                \"valvePosition\": valvePosition ? valvePosition[\"present-value\"] : undefined,\n                \"status\": status\n            }\n        });\n    });\n});\n\n\n\nrooms.forEach(room => {\n\n    /**************Average temperature **************/\n    let temperatures = [];\n\n    Object.values(room.valves).forEach(valve => {\n        if (valve.valveTemperature !== null && valve.valveTemperature !== undefined) {\n            temperatures.push(valve.valveTemperature);\n        }\n    });\n\n    let count = temperatures.length;\n\n    if (count === 0) {\n        room.averageTemperature = undefined;\n    }\n    else if (count < 3) {\n        let sum = 0;\n        temperatures.forEach(t => sum += t);\n        room.averageTemperature = sum / count;\n    }\n    else {\n        temperatures.sort((a, b) => a - b);\n        temperatures.shift();\n        temperatures.pop();\n\n        let sum = 0;\n        temperatures.forEach(t => sum += t);\n        room.averageTemperature = sum / temperatures.length;\n    }\n\n    /************** Temperature Gap between setpoint and average Temp **************/\n    if (\n        room.averageTemperature !== null &&\n        room.averageTemperature !== undefined &&\n        room.ADEsetpoint !== null &&\n        room.ADEsetpoint !== undefined\n    ) {\n        room.temperatureGap = room.averageTemperature - room.ADEsetpoint;\n    } else {\n        room.temperatureGap = undefined;\n    }\n\n    /************** Room occupency **************/\n    /*** Room is occupied at leat one valveSetpoint has temperature \"tempOccupied\" *****/\n\n    let valveSetpoints = new Set();\n    Object.values(room.valves).forEach(valve => {\n        if (valve.valveSetpoint !== null && valve.valveSetpoint !== undefined) {\n            valveSetpoints.add(valve.valveSetpoint);\n        }\n    })\n\n    if (valveSetpoints.size) {\n        room.occupency = valveSetpoints.has(room.tempOccupied);\n    }\n    else {\n        room.occupency = undefined;\n    }\n\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "d10445613c7ec7c0",
                "f46ec136defc086f"
            ]
        ]
    },
    {
        "id": "6f745c48f3eb5a09",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "981e3c64757e1f1b",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "38750b0f83c10f93"
            ]
        ]
    },
    {
        "id": "4e9fa185e64d08de",
        "type": "http request",
        "z": "7c27a8c8ec69277d",
        "g": "bbf40d89ed4a4a6b",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "981e3c64757e1f1b",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c9c3bc0474ee9562",
        "type": "link out",
        "z": "7c27a8c8ec69277d",
        "g": "e59f934448fe6324",
        "name": "configDone",
        "mode": "link",
        "links": [
            "9a20acf7f86e429f",
            "69e1761d1c7e77bd"
        ],
        "x": 1125,
        "y": 140,
        "wires": []
    },
    {
        "id": "9a20acf7f86e429f",
        "type": "link in",
        "z": "7c27a8c8ec69277d",
        "name": "ical server status IN",
        "links": [
            "c9c3bc0474ee9562"
        ],
        "x": 165,
        "y": 260,
        "wires": [
            [
                "64972e35abb2f5b6"
            ]
        ]
    },
    {
        "id": "69e1761d1c7e77bd",
        "type": "link in",
        "z": "7c27a8c8ec69277d",
        "g": "717b28d528948e6a",
        "name": "ical server status IN",
        "links": [
            "c9c3bc0474ee9562"
        ],
        "x": 835,
        "y": 320,
        "wires": [
            [
                "49235db22d809404"
            ]
        ]
    },
    {
        "id": "e2ab32a49030b8ed",
        "type": "comment",
        "z": "7c27a8c8ec69277d",
        "name": "Version 3.0.0",
        "info": "https://github.com/SylvainMontagny/ical-to-schedule/",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "d10445613c7ec7c0",
        "type": "function",
        "z": "7c27a8c8ec69277d",
        "g": "bbf40d89ed4a4a6b",
        "name": "GTB",
        "func": "\n\n//////////// TO CONFIGURE //////////////////\nlet avMaxTemperatureGapInstance = 10;\nlet avMaxTemperatureGapName = \"avMaxTemperatureGap\";\n\nlet bvoccupency8dHistoriqueEastInstance = 10;\nlet bvoccupency8dHistoriqueEastName = \"bvoccupency8dHistoriqueEast\";\nlet bvCenterOccupencyInstance = 11;\nlet bvCenterOccupencyName = \"bvCenterOccupency\";\nlet bvWestOccupencyInstance = 12;\nlet bvWestOccupencyName = \"bvWestOccupency\";\n\n\n// TODO : faire les créations des objets s'ils n'existent pas.\n\n//////// END TO CONFIGURE ////////////////\n\nlet icalToScheduleConf = global.get('g_icalToScheduleConf');\nlet rooms = global.get('g_rooms');\n\nlet maxTemperatureGap;\nlet occupency8dHistoriqueEast;\nlet occupency8dHistoriqueWest;\nlet occupency8dHistoriqueCenter;\n\nlet temperatureGaps = [];\n\nrooms.forEach(room => {\n    if (room.temperatureGap !== undefined) {\n        temperatureGaps.push(room.temperatureGap);\n    }\n    maxTemperatureGap = temperatureGaps.length > 0\n        ? Math.max(...temperatureGaps)\n        : undefined;\n\n});\n\nlet rooms8dHistoriqueEast = rooms.filter(room => room[\"subStation\"] === \"8d-historique\" && room[\"3wvSector\"] === \"east\");\noccupency8dHistoriqueEast = rooms8dHistoriqueEast.some(room => room.occupency == true);\n\nlet rooms8dHistoriqueCenter = rooms.filter(room => room[\"subStation\"] === \"8d-historique\" && room[\"3wvSector\"] === \"center\");\noccupency8dHistoriqueCenter = rooms8dHistoriqueCenter.some(room => room.occupency == true);\n\nlet rooms8dHistoriqueWest = rooms.filter(room => room[\"subStation\"] === \"8d-historique\" && room[\"3wvSector\"] === \"West\");\noccupency8dHistoriqueWest = rooms8dHistoriqueWest.some(room => room.occupency == true);\n\nreturn {\n    \"method\": \"POST\",\n    url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects/write-property-multiple\",\n    headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n    \"payload\": {\n        \"encode\": \"text\",\n        \"property-references\": [\n            {\n                \"type\": \"analogValue\",\n                \"instance\": avMaxTemperatureGapInstance,\n                \"property\": \"presentValue\",\n                \"value\": maxTemperatureGap\n            },\n            {\n                \"type\": \"binaryValue\",\n                \"instance\": bvoccupency8dHistoriqueEastInstance,\n                \"property\": \"presentValue\",\n                \"value\": occupency8dHistoriqueEast\n            },\n            {\n                \"type\": \"binaryValue\",\n                \"instance\": bvCenterOccupencyInstance,\n                \"property\": \"presentValue\",\n                \"value\": occupency8dHistoriqueCenter\n            },\n            {\n                \"type\": \"binaryValue\",\n                \"instance\": bvWestOccupencyInstance,\n                \"property\": \"presentValue\",\n                \"value\": occupency8dHistoriqueWest\n            }\n        ]\n    }\n}\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 440,
        "wires": [
            [
                "4e9fa185e64d08de"
            ]
        ]
    },
    {
        "id": "ad66506e746a6eea",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "981e3c64757e1f1b",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "bb79fce18bf34dc3",
        "type": "ui-group",
        "name": "Thermostatic valves",
        "page": "cd38f43643ab8e0a",
        "width": "8",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cd38f43643ab8e0a",
        "type": "ui-page",
        "name": "Valves dashboard",
        "ui": "e09cfd48728aad39",
        "path": "/valves",
        "icon": "home",
        "layout": "grid",
        "theme": "1757f642506c7f22",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "1757f642506c7f22",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]