Ical-to_Schedule+Link-with-objects.json
[
    {
        "id": "175de1bfee59dfe8",
        "type": "tab",
        "label": "Ical-to-Schedule+Link-with-objects",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "db2ec002947463b9",
        "type": "group",
        "z": "175de1bfee59dfe8",
        "name": "Configuration",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "922dee445de31c0a",
            "4cc7362d6f7ea79e"
        ],
        "x": 14,
        "y": 19,
        "w": 312,
        "h": 82
    },
    {
        "id": "364696734168ef60",
        "type": "group",
        "z": "175de1bfee59dfe8",
        "name": "Process POST Schedule automate",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1d1ed4fca4cc723a",
            "37fda365b82792a8",
            "5b1550f44f4e1304",
            "e2e1a976b55c16e9",
            "2a7e665f6f1548d9",
            "16180d403947eb23",
            "a70bd10f95250d4f",
            "a87431d0c18e74d4",
            "e507e8a4952589a0",
            "4c786d9c8fbbac66",
            "acbf2084c8353311",
            "80f71adf338d21ac",
            "ad425e93a4ed03d0",
            "b2fd2d928a5d395c",
            "4260fd52ebe5a1e5",
            "cc816ce223c01d39",
            "d3cf95149779e4b2",
            "2481b73d6c548913"
        ],
        "x": 14,
        "y": 119,
        "w": 3232,
        "h": 322
    },
    {
        "id": "355e0b54099bfa63",
        "type": "group",
        "z": "175de1bfee59dfe8",
        "name": "link between schedules and Analog values ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000",
            "stroke": "#ffC000"
        },
        "nodes": [
            "e9589619c61b3ddf",
            "2745f6b0a0f0b29e",
            "4e5b591693bc1c35",
            "264d9c6cf7f9ab61",
            "f79022677e4d1c0f",
            "8cc4a86c9fd93f41",
            "19021d1f0f45ede7",
            "6423975c84e56d0c",
            "8aae9098fa08054e",
            "e466a886811bd468"
        ],
        "x": 14,
        "y": 459,
        "w": 1392,
        "h": 202
    },
    {
        "id": "cc816ce223c01d39",
        "type": "group",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Create missing BACnet Schedules",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a6ad1d557b767f71",
            "d96347c51211297f",
            "d4463c83df8e222c",
            "d2685571a3bf69cd",
            "2bf8c7b71579747f",
            "caef79b06fc2ebeb",
            "22184d44ef8a7aa6",
            "2db0949e1c3d79a8",
            "c29f8d348ad8ed1d"
        ],
        "x": 1774,
        "y": 259,
        "w": 1252,
        "h": 142
    },
    {
        "id": "1c45b9de7aeec888",
        "type": "comment",
        "z": "175de1bfee59dfe8",
        "name": "iCal to schedule",
        "info": "Made by Sacha",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "e9589619c61b3ddf",
        "type": "inject",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "Link",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 75,
        "y": 540,
        "wires": [
            [
                "f79022677e4d1c0f"
            ]
        ],
        "l": false
    },
    {
        "id": "2745f6b0a0f0b29e",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "GET schedule present value",
        "func": "\nif (flow.get(\"g_instance\") < flow.get(\"g_nbRooms\")){\n\n// This resource gets the present value of the specified Schedule instance.\nvar request = {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + flow.get('g_controllerIP') + \"/api/rest/v2/services/bacnet/local/objects/schedules/\" + flow.get('g_instance') + \"/present-value\",\n    \"headers\": { Authorization: flow.get('g_akey') }\n};\n\nreturn request;\n}\nelse{\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "4e5b591693bc1c35"
            ]
        ]
    },
    {
        "id": "4e5b591693bc1c35",
        "type": "http request",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "0a54777a4b254e96",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 540,
        "wires": [
            [
                "264d9c6cf7f9ab61",
                "8cc4a86c9fd93f41"
            ]
        ]
    },
    {
        "id": "264d9c6cf7f9ab61",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "Debug HTTP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "f79022677e4d1c0f",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "Init",
        "func": "//set a variable for the loop\nflow.set('g_instance', 0 );\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 540,
        "wires": [
            [
                "2745f6b0a0f0b29e"
            ]
        ]
    },
    {
        "id": "8cc4a86c9fd93f41",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "WRITE Analog Values",
        "func": "let devTable = flow.get(\"g_rooms\")[flow.get(\"g_instance\")].devices ;\nlet setPoint;\nlet offset = 5000; //this offset come from the LoRaBAC application\nlet property_references = [];\n\n//Set the correct value\nif (msg.payload.$value == 2){\n  setPoint = flow.get(\"g_tempUnOccupied\");\n}else{\n  setPoint = msg.payload.$value;\n}\n\nfor (let device in devTable) {\n  let temp = '{ \"type\": \"analogValue\", \"instance\": ' + (devTable[device]*10 + 2 + offset) + ', \"property\": \"presentValue\", \"value\": ' + setPoint + ' }';\n  property_references.push(JSON.parse(temp));\n      \n}\n\n// Return HTTP Request\nreturn {\n  \"method\": \"POST\",\n  \"url\": \"https://\" + flow.get(\"g_controllerIP\") + \"/api/rest/v2/services/bacnet/local/objects/write-property-multiple\",\n  \"headers\": {\n    Authorization: flow.get(\"g_akey\"),\n    ContentType: \"application/json\"\n  },\n  \"payload\": {\n    \"encode\": \"text\",\n    \"property-references\": property_references\n  },\n  \"requestTimeout\": 5000,\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 540,
        "wires": [
            [
                "19021d1f0f45ede7"
            ]
        ]
    },
    {
        "id": "19021d1f0f45ede7",
        "type": "http request",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "0a54777a4b254e96",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "6423975c84e56d0c",
                "8aae9098fa08054e"
            ]
        ]
    },
    {
        "id": "6423975c84e56d0c",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "Debug HTTP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 520,
        "wires": []
    },
    {
        "id": "922dee445de31c0a",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "db2ec002947463b9",
        "name": "TO CONFIGURE",
        "func": "//////////////////////////////////////////////////\n////////////    TO CONFIGURE   ///////////////////\n//////////////////////////////////////////////////\n\n// Controller information\nconst controllerIP = \"TO_CONFIGURE\";       // Controller IP Address\nconst controllerLogin = \"TO_CONFIGURE\";            //Apex distech login\nconst controllerPassword = \"TO_CONFIGURE\";  //Apex distech password\n\n//Rooms information\nconst _SALLE_DANSE = 4 ;\n\n// Schedule object information\nconst timeZone = 'Europe/Paris';\nconst dailySchedule = false;                 // Group events in 1 event/day\nconst timeOffsetBeforeStart = 0;            // in min\nconst timeOffsetBeforeEnd = 0;              // in min\nconst contentRmEvent = \"TO_CONFIGURE\";      // if DAILY_SCHEDULE is enable, \n                                                    // all events that content this \n                                                    // string in their description \n                                                    // will be ignored\nconst preview = 7;\nconst pastview = 0;\nconst sorted = false;                       // Events are sorted in chronological order.  \n                                            // This helps to reduce algorithm complexity \n                                            // when enable\n\n// Schedule object values\nconst tempOccupied = 20;\nconst tempUnOccupied = 17;\n\n/////////////////////////////////////////////////\n/////////////// DO NOT MODIFY ///////////////////\n/////////////////////////////////////////////////\n\n//Autentification key\nlet bufferkey = Buffer.from(controllerLogin + \":\" + controllerPassword);\nconst keybase64 = bufferkey.toString('base64');\nconst autentikey = \"Basic \" + keybase64;\n\nconst scheduleInstanceNumber = 1;           // Schedule instance number, for Schedule write event tests\n\n// Store variables\nflow.set('g_controllerIP', controllerIP);\nflow.set('g_akey', autentikey);\nflow.set('g_scheduleInstanceNumber', scheduleInstanceNumber);\n\nflow.set('g_tempOccupied', tempOccupied);\nflow.set('g_tempUnOccupied', tempUnOccupied);\n\nflow.set('g_timeZone', timeZone);\nflow.set('g_dailySchedule', dailySchedule);\nflow.set('g_timeOffsetBeforeStart', timeOffsetBeforeStart);\nflow.set('g_timeOffsetBeforeEnd', timeOffsetBeforeEnd);\nflow.set('g_contentRmEvent', contentRmEvent);\nflow.set('g_preview', preview);\nflow.set('g_pastview', pastview);\nflow.set('g_sorted', sorted);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 60,
        "wires": [
            []
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "4cc7362d6f7ea79e",
        "type": "inject",
        "z": "175de1bfee59dfe8",
        "g": "db2ec002947463b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 75,
        "y": 60,
        "wires": [
            [
                "922dee445de31c0a"
            ]
        ],
        "l": false
    },
    {
        "id": "1d1ed4fca4cc723a",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Debug fct",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 340,
        "wires": []
    },
    {
        "id": "37fda365b82792a8",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Debug HTTP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 400,
        "wires": []
    },
    {
        "id": "5b1550f44f4e1304",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Rooms",
        "func": "//////////////////////////////////////////////\n//////////////// TO CONFIGURE ////////////////\n//////////////////////////////////////////////\n\n// Room template\nlet template = {\n    \"ScheduleID\": 0,    //To use the link correctly make sure to use following number and start with 0\n    \"name\": \"roomName\",\n    \"devices\": [0, 1, 2], //device number of LoRaBAC\n    \"url\": 'room_url'\n}\n\n// Add your own rooms\nlet rooms = [\n    {\n        //TO_CONFIGURE\n    }\n];\n\n/////////////////////////////////////////////\n/////////////// DO NOT MODIFY ///////////////\n/////////////////////////////////////////////\n\nflow.set('g_startTime', Date.now());\nflow.set('g_nbRooms', rooms.length);\nflow.set('g_roomCounter', 0);\nflow.set('g_rooms', rooms);\n\n\n// Send each room information as an individual msg\nfor (let j=0; j<rooms.length; j++) {\n    msg.roomInfo = rooms[j];\n    node.send(msg);\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 320,
        "wires": [
            [
                "a87431d0c18e74d4"
            ]
        ],
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "e2e1a976b55c16e9",
        "type": "inject",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Inject rooms",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 75,
        "y": 320,
        "wires": [
            [
                "5b1550f44f4e1304"
            ]
        ],
        "icon": "node-red/arrow-in.svg",
        "l": false
    },
    {
        "id": "2a7e665f6f1548d9",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Catch raw msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "16180d403947eb23",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Catch complete msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "a70bd10f95250d4f",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Add settings",
        "func": "let roomInfo = msg.roomInfo[0];\n// node.warn(roomInfo);\n\n// Add non mandatory information\nif (!roomInfo.hasOwnProperty(\"preview\")){\n    roomInfo[\"preview\"] = flow.get('g_preview');\n}\n\nif (!roomInfo.hasOwnProperty(\"pastview\")){\n    roomInfo[\"pastview\"] = flow.get('g_pastview');\n}\n\nif (!roomInfo.hasOwnProperty(\"timezone\")){\n    roomInfo[\"timezone\"] = flow.get('g_timeZone');\n}\n\nif (!roomInfo.hasOwnProperty(\"sorted\")){\n    roomInfo[\"sorted\"] = flow.get('g_sorted');\n}\n\nif (!roomInfo.hasOwnProperty(\"name\")){\n    node.warn(`The room has no name. Details: ${roomInfo}\\nThe room is now called NoNameRoom`);\n    roomInfo[\"name\"] = \"NoNameRoom\";\n}\n\nif (!roomInfo.hasOwnProperty(\"url\") || !roomInfo.hasOwnProperty(\"ScheduleID\")) {\n    node.error(`The room ${roomInfo.name} has no url or ScheduleID`);\n    return null;\n}\n\nmsg[\"ScheduleID\"] = roomInfo.ScheduleID;\nmsg[\"preview\"] = roomInfo.preview;\nmsg[\"pastview\"] = roomInfo.pastview;\nmsg[\"timezone\"] = roomInfo.timezone;\nmsg[\"url\"] = roomInfo.url;\nmsg[\"transmitTime\"] = Date.now();\n\nnode.warn(roomInfo.name + \" successfully handled\")\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "16180d403947eb23",
                "e507e8a4952589a0"
            ]
        ]
    },
    {
        "id": "a87431d0c18e74d4",
        "type": "queue",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "",
        "input": "roomInfo",
        "inputType": "msg",
        "addFields": "\"\"",
        "addFieldsType": "json",
        "pourType": "initial",
        "pourTypeType": "pourType",
        "pourTime": "",
        "pourTimeType": "num",
        "pourAmount": "1",
        "pourAmountType": "num",
        "maxUseMemory": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "a70bd10f95250d4f",
                "2a7e665f6f1548d9"
            ]
        ]
    },
    {
        "id": "e507e8a4952589a0",
        "type": "ical-upcoming",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "confignode": "1c5c08d4c3471fd6",
        "timeout": "",
        "timeoutUnits": "seconds",
        "cron": "",
        "name": "Get room calendar",
        "offsettype": "",
        "offset": "",
        "offsetUnitstype": "",
        "offsetUnits": "",
        "eventtypes": "events",
        "eventtypestype": "eventtypes",
        "calendar": "",
        "calendartype": "str",
        "triggertype": "trigger",
        "trigger": "always",
        "timezone": "",
        "timezonetype": "str",
        "dateformat": "{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }",
        "dateformattype": "json",
        "language": "en",
        "languagetype": "language",
        "filterProperty": "summary",
        "filterPropertytype": "filterProperty",
        "filterOperator": "between",
        "filterOperatortype": "filterOperator",
        "filtertype": "str",
        "filter2type": "str",
        "filter2": "",
        "filter": "",
        "checkall": false,
        "endpreview": "",
        "endpreviewUnits": "",
        "previewtype": "num",
        "preview": "",
        "previewUnitstype": "previewUnits",
        "previewUnits": "days",
        "pastviewtype": "num",
        "pastview": "",
        "pastviewUnits": "days",
        "pastviewUnitstype": "pastviewUnits",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "ad425e93a4ed03d0",
                "2481b73d6c548913"
            ]
        ]
    },
    {
        "id": "4c786d9c8fbbac66",
        "type": "delay",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Slow down",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3150,
        "y": 400,
        "wires": [
            [
                "a87431d0c18e74d4"
            ]
        ]
    },
    {
        "id": "acbf2084c8353311",
        "type": "inject",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Force dequeue",
        "props": [
            {
                "p": "dequeue",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "a87431d0c18e74d4"
            ]
        ]
    },
    {
        "id": "80f71adf338d21ac",
        "type": "http request",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "0a54777a4b254e96",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1410,
        "y": 400,
        "wires": [
            [
                "37fda365b82792a8",
                "4260fd52ebe5a1e5"
            ]
        ]
    },
    {
        "id": "ad425e93a4ed03d0",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Create JSON from iCal + POST Special event",
        "func": "\nlet setTempOccup = flow.get('g_tempOccupied');\nlet setTempUnOccup = flow.get('g_tempUnOccupied');\n\n// DO NOT MODIFY\nlet length = msg.total;\nlet jsonObj = {};\nlet events = [];\n\nif (msg.error) {\n    node.error(msg.error.name + ': ' + msg.error.message + '. Impossible to process the calendar.');\n    return {\n        \"method\": \"HALLO!\",\n        \"url\": \"no/url\",\n        \"roomInfo\": msg\n    };\n}\n\n// Catch all the events\nfor (let i = 0; i < length; i++) {\n\n    // Get event information\n    let name = msg.payload[i].summary;\n    let description = msg.payload[i].description;\n    let eventStart = new Date(msg.payload[i].eventStart);\n    let eventEnd = new Date(msg.payload[i].eventEnd);\n    let eventAlreadyExists = false;\n\n    if (flow.get('g_dailySchedule')) {\n        if (description.includes(flow.get('g_contentRmEvent')) && eventEnd.getHours() > 19) eventAlreadyExists = true; // Skip SOBRIETE ENERGETIQUE events\n        else {\n            let start = 0;\n            if (msg.sorted) {\n                start = events.length - 1; // Last event should be the previous one\n            }\n            for (let j = start; j < events.length; j++) {\n                if (eventStart.getDate() == events[j].start.getDate() &&\n                    eventStart.getMonth() == events[j].start.getMonth() &&\n                    eventStart.getFullYear() == events[j].start.getFullYear()) {\n\n                    // Group same day events into only one event\n                    if (eventStart < events[j].start) events[j].start = eventStart;\n                    if (eventEnd > events[j].end) events[j].end = eventEnd;\n                    eventAlreadyExists = true;\n                    events[j].name += ' AND ' + name;\n                }\n            }\n        }\n\n    }\n\n    if (!eventAlreadyExists) {\n        events.push({\n            name: name,\n            start: eventStart,\n            end: eventEnd\n        })\n    };\n};\n\n// Store the events and payload build\nfor (let j = 0; j < events.length; j++) {\n    let name = events[j].name;\n    let day = events[j].start.getDate();\n    let month = events[j].start.getMonth() + 1; // January gives 0\n    let year = events[j].start.getFullYear();\n    let start;\n    let end;\n\n    // Add offset for 1 event/day schedule\n    if (flow.get('g_dailySchedule')) {\n        start = new Date(events[j].start.valueOf() - flow.get('g_timeOffsetBeforeStart') * 60000).toLocaleTimeString(\"fr-FR\", { timeZone: flow.get('g_timeZone') });\n        end = new Date(events[j].end.valueOf() - flow.get('g_timeOffsetBeforeEnd') * 60000).toLocaleTimeString(\"fr-FR\", { timeZone: flow.get('g_timeZone') });\n    }\n    else {\n        start = events[j].start.toLocaleTimeString(\"fr-FR\", { timeZone: flow.get('g_timeZone') });\n        end = events[j].end.toLocaleTimeString(\"fr-FR\", { timeZone: flow.get('g_timeZone') });\n    }\n\n    // Creating string\n    let message = `{ \"${Number(j + 1)}\": {\n        \"event-priority\": 16, \n        \"period\": { \n            \"date\": {\n                \"month\": ${month}, \n                \"year\": ${year}, \n                \"day-of-month\": ${day}\n            }, \n            \"type\": \"Date\" \n        }, \n        \"name\": \"${name}\", \n        \"transitions\": { \n            \"1\": { \"time\": \"${start}\", \"value\": ${setTempOccup}, \"key\": \"1\" },  \n            \"2\": { \"time\": \"${end}\", \"value\": null, \"key\": \"2\" } \n        }, \n        \"key\": \"${Number(j + 1)}\" \n    }}`;\n\n    let jsonTemp = JSON.parse(message);     // Transform string into an object\n    jsonObj = { ...jsonObj, ...jsonTemp };   // Merge with the previous object\n};\n\nlet request = {\n    \"method\": \"POST\",\n    \"url\": `https://${flow.get('g_controllerIP')}/api/rest/v2/services/bacnet/local/objects/schedules/${msg.ScheduleID}/special-events`,\n    \"headers\": {\n        Authorization: flow.get('g_akey'),\n        ContentType: \"application/json\"\n    },\n    \"payload\": jsonObj,\n    \"roomInfo\": msg\n};\n\nreturn request;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "1d1ed4fca4cc723a",
                "80f71adf338d21ac"
            ]
        ]
    },
    {
        "id": "b2fd2d928a5d395c",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "Server's reply",
        "func": "let roomInfo = msg.roomInfo;\nlet msgCorrect = false;\n\nswitch (msg.statusCode) {\n    case 200:\n        node.warn(`Successfully transmitted to the server. Process time = ${Date.now() - roomInfo.transmitTime} ms`);\n        msgCorrect = true;\n        break;\n    case 400:\n        node.error(\"Error 400: Bad HTTP Request\");\n        if (msg.payload.includes(\"write-access-denied\")) {\n            node.error(\"Error: Trying to write a Read Only object (analogInput)\");\n        }\n        break;\n    case 401:\n        node.error(\"Error 401: Can't connect to controller: Authorization error\");\n        break;\n    case 500:\n        node.error(\"Error 500: Server Error 500\");\n        break;\n    case 404:\n        node.error(\"Error 404\");\n        break;\n    case \"ETIMEDOUT\":\n        node.error(\"Error: Can't connect to controller: TimeOut\");\n        break;\n    case 501:\n        node.error(\"Error 501. Not recognized request methode. Server not capable of supporting it for any resource\")\n        break;\n    case \"ENOTFOUND\":\n        node.error(\"RequestError: no url found. Please correct the url\")\n}\n\n// Debug information\nlet nbRooms = flow.get('g_nbRooms');\nflow.set('g_roomCounter', flow.get('g_roomCounter') + 1);\nlet roomCounter = flow.get('g_roomCounter');\n\nif (roomCounter == nbRooms && msgCorrect) {\n    node.warn(`All rooms processed in ${(Date.now() - flow.get('g_startTime')) / 1000} s`);\n}\nelse if (!msgCorrect) {\n    node.error(\"Schedule configuration not properly processed\");\n}\n\nmsg.dequeue = true;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3120,
        "y": 200,
        "wires": [
            [
                "4c786d9c8fbbac66"
            ]
        ]
    },
    {
        "id": "4260fd52ebe5a1e5",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "BACnet Schedule Exist ?",
        "func": "let room = msg.roomInfo;\n\nswitch (msg.statusCode) {\n    //////////////////////////////////////////////////    \n    // Case 200 : \"Success\" > Continue. \n    // Case 404 : \"Not Found\" > Create Objects.\n    //////////////////////////////////////////////////\n    case 200:\n        return [msg, null];\n        \n\n    case 400:\n        node.error(\"Error : Bad HTTP Request\");\n        if (msg.payload.includes(\"write-access-denied\")) {\n            node.error(\"Error : Trying to write a Read Only object (analogInput)\");\n        }\n        return [null, null];\n\n    case 401:\n        node.error(\"Error : Can't connect to controller : Authorization error\");\n        return [null, null];\n\n    case 500:\n        node.error(\"Error : Server Error 500\");\n        return [null, null];\n\n    case 404:\n        if (msg.payload.includes(\"Not Found\")) {\n             return [null,msg];      // Create Schedules Objects\n        }else{\n            node.error(\"Error : 404\");  // Stops here\n            return [null, null];\n        } \n\n    case \"ETIMEDOUT\":\n        node.error(\"Error : Can't connect to controller : TimeOut\");\n        return [null, null];\n\n    case \"UNABLE_TO_VERIFY_LEAF_SIGNATURE\":\n        node.error(\"Error : You forgot to enable the TLS config in your HTTP node\");\n        return [null, null];\n\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 200,
        "wires": [
            [
                "d3cf95149779e4b2",
                "b2fd2d928a5d395c"
            ],
            [
                "a6ad1d557b767f71",
                "2bf8c7b71579747f"
            ]
        ],
        "outputLabels": [
            "Yes",
            "No"
        ],
        "icon": "node-red/switch.svg"
    },
    {
        "id": "a6ad1d557b767f71",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "CREATE Objects",
        "func": "\nlet room = msg.roomInfo;\n\n  ///////////////////////////////////////////////////////////\n  ////// Distech Controls Eclypse APEX\n  ////// https://www.postman.com/distech/distech-ecy-v2-public/request/57jbx8w/create-objects-multiple\n  ///////////////////////////////////////////////////////////\n\n\n    /**********  Objects creation on the controller\n    {\n        \"method\": \"POST\",\n        \"url\": \"https://\" + flow.get('$parent.g_controllerIP') +\"/api/rest/v2/batch\",\n        \"headers\": {Authorization: flow.get('$parent.g_httpAuthentication'),\n                  ContentType: \"application/json\"}\n        \"payload\":{\n            \"requests\": [\n                {\n                  \"id\": \"1\",\n                  \"method\": \"POST\",\n                  \"url\": \"/api/rest/v2/services/bacnet/local/objects/add\",\n                  \"body\": {\n                    \"object-type\": \"AnalogValue\",\n                    \"instance-number\": 10010,\n                    \"name\": \"apiAVTest10\"\n                  }\n                },\n                {\n                  \"id\": \"2\",\n                  \"method\": \"POST\",\n                  \"url\": \"/api/rest/v2/services/bacnet/local/objects/add\",\n                  \"body\": {\n                    \"object-type\": \"BinaryValue\",\n                    \"instance-number\": 10010,\n                    \"name\": \"apiBVTest10\"\n                  }\n                },\n                ...\n            ]\n        },\n        \"requestTimeout\" : xxx (ms)\n    }\n    */\n\n\n    let request = [];\n\n\nlet temp = '{ \"id\": \"1\", \"method\": \"POST\", \"url\": \"/api/rest/v2/services/bacnet/local/objects/add\", \"body\": { \"object-type\": \"Schedule\", \"instance-number\": ' + room.roomInfo[0].ScheduleID + ', \"name\": \"' + room.roomInfo[0].name + '\" } }';\n      request.push(JSON.parse(temp));\n    \n\n    // Return HTTP Request\n    return {\n      \"method\": \"POST\",\n      \"url\": \"https://\" + flow.get('g_controllerIP') + \"/api/rest/v2/batch\",\n      \"headers\": {\n        Authorization: flow.get('g_akey'),\n        ContentType: \"application/json\"\n      },\n      \"payload\": { \"requests\": request },\n      \"roomInfo\": room\n    }\n\n  \n ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 360,
        "wires": [
            [
                "d96347c51211297f"
            ]
        ]
    },
    {
        "id": "d96347c51211297f",
        "type": "http request",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "38c4db63982e52db",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2190,
        "y": 360,
        "wires": [
            [
                "d4463c83df8e222c",
                "d2685571a3bf69cd"
            ]
        ]
    },
    {
        "id": "d4463c83df8e222c",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "Creation results",
        "func": "\n\nswitch (msg.statusCode) {\n    //////////////////////////////////////////////////    \n    // Case 200 : \"Success\" > Objects have been created\n    //////////////////////////////////////////////////\n    case 200:\n        if (msg.payload.includes(\"\\\"status\\\":200\")) {\n            \n        }\n        if (msg.payload.includes(\"Instance already exists\") || msg.payload.includes(\"Object with same name already exists\")) {\n            \n        }\n        break;\n\n    case 400:\n        node.error(\"Error : Bad HTTP Request\");\n        break;\n\n    case 401:\n        node.error(\"Error : Can't connect to controller : Authorization error\");\n        break;\n\n    case 500:\n        node.error(\"Error : Server Error 500\");\n        break;\n\n    case 404:\n        node.error(\"Error : 404\");\n        break;\n\n\n    case \"ETIMEDOUT\":\n        node.error(\"Error : Can't connect to controller : TimeOut\");\n        break;\n\n    case \"UNABLE_TO_VERIFY_LEAF_SIGNATURE\":\n        node.error(\"Error : You forgot to enable the TLS config in your HTTP node\");\n        break;\n\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nglobal.set('g_errorObjectCreation', 0);",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 360,
        "wires": [
            [
                "caef79b06fc2ebeb"
            ]
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "d2685571a3bf69cd",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "debug HTTP Create",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 320,
        "wires": []
    },
    {
        "id": "2bf8c7b71579747f",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "debug inexistant",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 300,
        "wires": []
    },
    {
        "id": "caef79b06fc2ebeb",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "WRITE object properties",
        "func": "\n// This request writes a new schedule-default value in the specified schedule instance.\nvar request = {\n    \"method\": \"POST\",\n    \"url\": \"https://\" + flow.get('g_controllerIP') + \"/api/rest/v2/services/bacnet/local/objects/schedules/\" + msg.roomInfo.ScheduleID,\n    \"headers\": {Authorization: flow.get('g_akey'),\n                ContentType: \"application/json\"},\n    \"payload\": {\n                \"schedule-default\": 2,\n    },\n    \"roomInfo\": msg.roomInfo\n};\n\nreturn request;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2630,
        "y": 360,
        "wires": [
            [
                "22184d44ef8a7aa6",
                "c29f8d348ad8ed1d"
            ]
        ]
    },
    {
        "id": "22184d44ef8a7aa6",
        "type": "http request",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "38c4db63982e52db",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2890,
        "y": 360,
        "wires": [
            [
                "b2fd2d928a5d395c",
                "2db0949e1c3d79a8"
            ]
        ]
    },
    {
        "id": "2db0949e1c3d79a8",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "debug HTTP properties",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2870,
        "y": 320,
        "wires": []
    },
    {
        "id": "c29f8d348ad8ed1d",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "cc816ce223c01d39",
        "name": "debug request properties",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2610,
        "y": 320,
        "wires": []
    },
    {
        "id": "d3cf95149779e4b2",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "debug existant",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1900,
        "y": 160,
        "wires": []
    },
    {
        "id": "8aae9098fa08054e",
        "type": "function",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "Increment",
        "func": "\nflow.set('g_instance', flow.get('g_instance') + 1);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 620,
        "wires": [
            [
                "e466a886811bd468"
            ]
        ]
    },
    {
        "id": "e466a886811bd468",
        "type": "delay",
        "z": "175de1bfee59dfe8",
        "g": "355e0b54099bfa63",
        "name": "Wait",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 620,
        "wires": [
            [
                "2745f6b0a0f0b29e"
            ]
        ]
    },
    {
        "id": "2481b73d6c548913",
        "type": "debug",
        "z": "175de1bfee59dfe8",
        "g": "364696734168ef60",
        "name": "debug schedule message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "0a54777a4b254e96",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "1c5c08d4c3471fd6",
        "type": "ical-config",
        "url": "",
        "caldav": "",
        "caltype": "ical",
        "name": "",
        "replacedates": false,
        "usecache": false,
        "username": "",
        "password": "",
        "experimental": false,
        "calendar": "",
        "pastWeeks": "0",
        "futureWeeks": "4"
    },
    {
        "id": "38c4db63982e52db",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]