Ical-To-Schedule.json
[
    {
        "id": "14f091f3eb70505e",
        "type": "subflow",
        "name": "Ical Server status",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "6fbd3d754b7d39eb"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 536.0000095367432,
            "y": 72.00000762939453,
            "wires": [
                {
                    "id": "78cfb1c01f753b75",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "6fbd3d754b7d39eb",
        "type": "function",
        "z": "14f091f3eb70505e",
        "g": "45685cf62e646d04",
        "name": "Rooms",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\nlet controlledByEventFromIcalNbr = rooms.filter(element => element.control === \"controlledByEventFromIcal\").length;\n\nfunction createEvent() {\n    icalToScheduleConf.controlledByEventFromIcalNbr = controlledByEventFromIcalNbr;\n    icalToScheduleConf.startTimeUpdateSchedule = Date.now();\n    icalToScheduleConf.roomCounter = 0;\n\n    flow.set('sf_icalToScheduleConf', icalToScheduleConf);\n    for (let j = 0; j < rooms.length; j++) {\n        if (rooms[j].control === \"controlledByEventFromIcal\" ) {\n            node.send({\n                action: \"queue\",\n                payload: rooms[j]\n            });\n        }\n    }\n}\n\ncreateEvent();\nsetInterval(createEvent, icalToScheduleConf.timeBetweenScheduleUpdate * 1000); \n\n\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 120,
        "wires": [
            [
                "78cfb1c01f753b75"
            ]
        ],
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "01c6092e55fc3605",
        "type": "function",
        "z": "14f091f3eb70505e",
        "g": "45685cf62e646d04",
        "name": "Unqueue",
        "func": "let icalToScheduleConf = flow.get('sf_icalToScheduleConf');\n\nicalToScheduleConf.roomCounter++;\n\nif(icalToScheduleConf.roomCounter % icalToScheduleConf.controlledByEventFromIcalNbr == 0){\n    node.warn(`${icalToScheduleConf.controlledByEventFromIcalNbr} URL processed in ${(Date.now() - icalToScheduleConf.startTimeUpdateSchedule) / 1000} s`);\n}\n\nflow.set('sf_icalToScheduleConf',icalToScheduleConf);\n\nmsg.action = \"unqueue\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//flow.set('f_isControllerReady', true);\n",
        "finalize": "",
        "libs": [],
        "x": 1199.999984741211,
        "y": 121.00003623962402,
        "wires": [
            [
                "b195be83fc795695"
            ]
        ]
    },
    {
        "id": "78cfb1c01f753b75",
        "type": "function",
        "z": "14f091f3eb70505e",
        "g": "45685cf62e646d04",
        "name": "Room Queue",
        "func": "let roomsQueue = flow.get('f_roomsQueue');\nconst maxQueueSize = 40;\n\n\n////////////////// Queue ////////////////\nif (msg.action === \"queue\") {\n    if (roomsQueue.length >= maxQueueSize) {\n        node.error(`Room queue has exeeded its maximum size ${maxQueueSize}`);\n        return null;\n    }\n    else if (roomsQueue.length == 0 && flow.get('f_initialStart')) {\n        // First message, no need to queue.\n        flow.set('f_initialStart', false);\n        node.warn(\"Testing ical server for each URL...\");\n        return {\n            \"url\": msg.payload.url,\n            \"timezone\": msg.payload.timeZone,\n            \"preview\": msg.payload.nbrDaysPreview,\n            \"roomConf\": msg.payload,\n            \"status\": { fill: \"green\", shape: \"dot\", text: `Room queue size : ${roomsQueue.length}` }\n        }\n    }\n    else {\n        //node.warn(\"Other message, Queue\");\n        roomsQueue.push(msg.payload);\n        flow.set('f_roomsQueue', roomsQueue);\n    }\n}\n\n////////////////// Unqueue ////////////////\nelse if (msg.action === \"unqueue\") {\n    if (roomsQueue.length === 0) {\n        flow.set('f_initialStart', true);\n        //node.warn(\"Unqueue with lenght == 0, initialStart = true\");\n    }\n    else {\n        let newRoom = roomsQueue.shift();\n        flow.set('f_roomsQueue', roomsQueue);\n        //node.warn(\"Unqueue\");\n        return {\n            \"url\": newRoom.url,\n            \"timezone\": newRoom.timeZone,\n            \"preview\": msg.payload.nbrDaysPreview,\n            \"roomConf\": newRoom,\n            \"status\": { fill: \"green\", shape: \"dot\", text: `Room queue size : ${roomsQueue.length}` }\n        }\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "let roomsQueue = [];\nflow.set('f_roomsQueue', roomsQueue);\n\nlet initialStart = true;\nflow.set('f_initialStart', initialStart);\n",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "2bfed67f14dd5802"
            ]
        ]
    },
    {
        "id": "2bfed67f14dd5802",
        "type": "ical-upcoming",
        "z": "14f091f3eb70505e",
        "g": "45685cf62e646d04",
        "confignode": "90b0640636b3bfc5",
        "timeout": "",
        "timeoutUnits": "seconds",
        "cron": "",
        "name": "Get Room calendar",
        "offsettype": "",
        "offset": "",
        "offsetUnitstype": "",
        "offsetUnits": "",
        "eventtypes": "events",
        "eventtypestype": "eventtypes",
        "calendar": "",
        "calendartype": "str",
        "triggertype": "trigger",
        "trigger": "always",
        "timezone": "",
        "timezonetype": "str",
        "dateformat": "{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }",
        "dateformattype": "json",
        "language": "en",
        "languagetype": "language",
        "filterProperty": "summary",
        "filterPropertytype": "filterProperty",
        "filterOperator": "between",
        "filterOperatortype": "filterOperator",
        "filtertype": "str",
        "filter2type": "str",
        "filter2": "",
        "filter": "",
        "checkall": false,
        "endpreview": "",
        "endpreviewUnits": "",
        "previewtype": "num",
        "preview": "20",
        "previewUnitstype": "previewUnits",
        "previewUnits": "days",
        "pastviewtype": "num",
        "pastview": "0",
        "pastviewUnits": "days",
        "pastviewUnitstype": "pastviewUnits",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "650cb6221e01f9e4"
            ]
        ]
    },
    {
        "id": "650cb6221e01f9e4",
        "type": "function",
        "z": "14f091f3eb70505e",
        "g": "45685cf62e646d04",
        "name": "Error Handle",
        "func": "let roomConf = msg.roomConf;\nlet errorIcalTab = global.get('g_errorIcalTab');\n\nlet status = msg.error ? false : true;\n\nlet since;\nif (errorIcalTab[roomConf.scheduleID] == undefined){\n    since = (new Date()).toLocaleString(\"fr-FR\", { timeZone: \"Europe/Paris\" });\n} else if (status != errorIcalTab[roomConf.scheduleID][\"Status\"] ){\n    since = (new Date()).toLocaleString(\"fr-FR\", { timeZone: \"Europe/Paris\" });\n}else {\n    since = errorIcalTab[roomConf.scheduleID][\"Since\"];\n}\n\nlet roomName = roomConf.scheduleName;\n\nlet lastError = \"\";\nif ((msg.error + \"\").includes(\"ENOTFOUND\")) {\n    lastError = \"ENOTFOUND\";\n} else if ((msg.error + \"\").includes(\"ECONNRESET\")) {\n    lastError = \"ECONNRESET\";\n} else if ((msg.error + \"\").includes(\"ERROR 404\")) {\n    lastError = \"ERROR 404\";\n} else if ((msg.error + \"\").includes(\"ETIMEDOUT\")) {\n    lastError = \"ETIMEDOUT\";\n} else if ((msg.error + \"\").includes(\"ERROR 500\")) {\n    lastError = \"ERROR 500\";\n} else if (msg.error) {\n    lastError = \"OTHER\";\n} else {\n    lastError = errorIcalTab[roomConf.scheduleID]?.[\"Last Error\"] ?? \"Never Happenned\";\n}\n\nlet totalErrorTolal;\nif (msg.error) {\n    totalErrorTolal = (errorIcalTab[roomConf.scheduleID]?.[\"Total errors\"] ?? 0) + 1;\n}\nelse {\n    totalErrorTolal = (errorIcalTab[roomConf.scheduleID]?.[\"Total errors\"] ?? 0);\n}\n\nerrorIcalTab[roomConf.scheduleID] = {\n    \"Status\": status,\n    \"Since\" : since,\n    \"Room Name\": roomConf.scheduleName,\n    \"Last Error\": lastError,\n    \"Total errors\": totalErrorTolal\n};\n\n\nglobal.set('g_errorIcalTab', errorIcalTab);\n\nif (msg.error) {\n    return [null, msg];\n}\nelse {\n    return [msg, null];\n}\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n//let errorIcalObj = {};\nlet errorIcalTab = [];\n//global.set('g_errorIcalObj', errorIcalObj);\nglobal.set('g_errorIcalTab', errorIcalTab);\n\n",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 120,
        "wires": [
            [
                "be5e5764e9643e59"
            ],
            [
                "01c6092e55fc3605"
            ]
        ]
    },
    {
        "id": "be5e5764e9643e59",
        "type": "function",
        "z": "14f091f3eb70505e",
        "g": "45685cf62e646d04",
        "name": "function 1",
        "func": "//Function when no error happened\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1019.9999847412109,
        "y": 81.00003623962402,
        "wires": [
            [
                "01c6092e55fc3605"
            ]
        ]
    },
    {
        "id": "0cf49c44bf20b4c4",
        "type": "inject",
        "z": "14f091f3eb70505e",
        "g": "445191eba8d0e292",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g_errorIcalTab",
        "payloadType": "global",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "8924c006c5dd12ca"
            ]
        ]
    },
    {
        "id": "c090f6917519a627",
        "type": "ui-table",
        "z": "14f091f3eb70505e",
        "g": "445191eba8d0e292",
        "group": "8cc02522cab7211b",
        "name": "Status table",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "deselect": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "Status",
                "key": "Status",
                "keyType": "key",
                "type": "tickcross",
                "width": "",
                "align": "center"
            },
            {
                "title": "Since",
                "key": "Since",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Room Name",
                "key": "Room Name",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Last Error",
                "key": "Last Error",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Total errors",
                "key": "Total errors",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8924c006c5dd12ca",
        "type": "function",
        "z": "14f091f3eb70505e",
        "g": "445191eba8d0e292",
        "name": "Filter",
        "func": "\n//node.warn(msg.payload);\n\nreturn {\n    payload : msg.payload.filter(element => element != undefined)\n   // payload : 10\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "c090f6917519a627"
            ]
        ]
    },
    {
        "id": "8cc02522cab7211b",
        "type": "ui-group",
        "z": "14f091f3eb70505e",
        "name": "ADE Server Status",
        "page": "42676bdb99655b5b",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b195be83fc795695",
        "type": "junction",
        "z": "14f091f3eb70505e",
        "g": "45685cf62e646d04",
        "x": 299.99998474121094,
        "y": 121.00003623962402,
        "wires": [
            [
                "78cfb1c01f753b75"
            ]
        ]
    },
    {
        "id": "45685cf62e646d04",
        "type": "group",
        "z": "14f091f3eb70505e",
        "name": "Create events",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "6fbd3d754b7d39eb",
            "01c6092e55fc3605",
            "78cfb1c01f753b75",
            "2bfed67f14dd5802",
            "650cb6221e01f9e4",
            "be5e5764e9643e59",
            "b195be83fc795695"
        ],
        "x": 114,
        "y": 40.00003623962402,
        "w": 1171.999984741211,
        "h": 122
    },
    {
        "id": "445191eba8d0e292",
        "type": "group",
        "z": "14f091f3eb70505e",
        "name": "For DEBUG",
        "style": {
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "0cf49c44bf20b4c4",
            "c090f6917519a627",
            "8924c006c5dd12ca"
        ],
        "x": 314,
        "y": 199,
        "w": 632,
        "h": 82
    },
    {
        "id": "42676bdb99655b5b",
        "type": "ui-page",
        "name": "LoRaBAC Dashboard",
        "ui": "99c65e96a09d62e2",
        "path": "/status",
        "icon": "Home",
        "layout": "grid",
        "theme": "fb411f2c74c271ac",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "99c65e96a09d62e2",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "fb411f2c74c271ac",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "06caa6a694a2292a",
        "type": "subflow",
        "name": "scheduleAV update",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 140,
                "wires": [
                    {
                        "id": "bf40ae8c34bf0ed8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "bf40ae8c34bf0ed8",
        "type": "function",
        "z": "06caa6a694a2292a",
        "g": "19da49a7614e0f08",
        "name": "Get schedule value",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet property_references = [];\n\nfunction getSchedulePresentValue() {\n  node.warn(\"Updating scheduleAV...\");\n  for (let room in rooms) {\nif (rooms[room].control === \"controlledByEventFromIcal\" || rooms[room].control === \"controlledBySchedule\") {\n      let temp = '{ \"type\": \"Schedule\", \"instance\": ' + rooms[room].scheduleID + ', \"property\": \"presentValue\"}';\n      property_references.push(JSON.parse(temp));\n    }\n  }\n  node.send({\n    method: \"POST\",\n    url: `https://${icalToScheduleConf.controllerIPAddress}/api/rest/v2/services/bacnet/local/objects/read-property-multiple`,\n    headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n    payload: {\n      \"encode\": \"text\",\n      \"property-references\": property_references\n    },\n    icalToScheduleConf: icalToScheduleConf,\n    rooms: rooms\n  });\n}\n\nsetTimeout(() => {\n  getSchedulePresentValue();\n  setInterval(getSchedulePresentValue, icalToScheduleConf.timeBetweenScheduleAVUpdate * 1000);\n}, 5000);\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "5733e23c8187a3b9"
            ]
        ]
    },
    {
        "id": "5733e23c8187a3b9",
        "type": "http request",
        "z": "06caa6a694a2292a",
        "g": "19da49a7614e0f08",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "41353860b523b7ca"
            ]
        ]
    },
    {
        "id": "41353860b523b7ca",
        "type": "function",
        "z": "06caa6a694a2292a",
        "g": "19da49a7614e0f08",
        "name": "Write scheduleAV",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet property_references = [];\nlet results = msg.payload.results;\nlet setpoint;\n\n\nfor (let i = 0; i < results.length; i++) {\n  setpoint = results[i].value;\n  if (!setpoint || setpoint.includes(\"Null\")) {\n    node.warn(`Schedule ${results[i].instance} returns 0 or NULL`);\n  } else if (setpoint.includes(\"Unknown Object\")){\n    node.warn(`Schedule ${results[i].instance} doesn't exist`);\n  }else{\n  let temp = '{ \"type\": \"analogValue\", \"instance\": ' + (icalToScheduleConf.scheduleAVInstanceOffset + results[i].instance) + ', \"property\": \"presentValue\", \"value\": ' + setpoint + ' }';\n  property_references.push(JSON.parse(temp));\n  }\n}\n\n\nreturn {\n  method: \"POST\",\n  url: `https://${icalToScheduleConf.controllerIPAddress}/api/rest/v2/services/bacnet/local/objects/write-property-multiple`,\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    \"encode\": \"text\",\n    \"property-references\": property_references\n  }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "73a71f9065db5d47"
            ]
        ]
    },
    {
        "id": "73a71f9065db5d47",
        "type": "http request",
        "z": "06caa6a694a2292a",
        "g": "19da49a7614e0f08",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "19da49a7614e0f08",
        "type": "group",
        "z": "06caa6a694a2292a",
        "name": "Link schedules and  scheduleAV",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000",
            "stroke": "#d1d1d1",
            "label-position": "n"
        },
        "nodes": [
            "bf40ae8c34bf0ed8",
            "5733e23c8187a3b9",
            "41353860b523b7ca",
            "73a71f9065db5d47"
        ],
        "x": 154,
        "y": 99,
        "w": 732,
        "h": 82
    },
    {
        "id": "5dbb742ee17c0ff3",
        "type": "subflow",
        "name": "Configuration",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "8897ec7dc936e9c1"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 560,
            "y": 540,
            "wires": [
                {
                    "id": "7645dca7b0aceb54",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "8897ec7dc936e9c1",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "e37ae50a2f8ed5ef",
        "name": "Delete schedule",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet requests = [];\nlet id = 1;\n\n// Delete all Schedule from range\nfor (let inst = icalToScheduleConf.scheduleInstanceRange[0]; inst <= icalToScheduleConf.scheduleInstanceRange[1]; inst++) {\n  {\n    requests.push({\n      id: String(id),\n      method: \"DELETE\",\n      url: `/api/rest/v2/services/bacnet/local/objects/schedules/${inst}`\n    });\n    id++\n  }\n}\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n  icalToScheduleConf: icalToScheduleConf,\n  rooms: rooms\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 100,
        "wires": [
            [
                "0a8636783b08fe3e"
            ]
        ]
    },
    {
        "id": "0a8636783b08fe3e",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "e37ae50a2f8ed5ef",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "2f1b85af7c083c81"
            ]
        ]
    },
    {
        "id": "2f1b85af7c083c81",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "e37ae50a2f8ed5ef",
        "name": "Create Schedule",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet requests = [];\nlet id = 1;\nlet scheduleNbr = 0;\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\") {\n    scheduleNbr++;\n  }\n}\n\nnode.warn(`Creating ${scheduleNbr} Schedules...`);\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\") {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: \"/api/rest/v2/services/bacnet/local/objects/add\",\n      body: {\n        \"object-type\": \"schedule\",\n        \"instance-number\": rooms[i].scheduleID,\n        \"name\": rooms[i].scheduleName\n      }\n    });\n\n    id++;\n  }\n}\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n  icalToScheduleConf: icalToScheduleConf,\n  rooms: rooms\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "eb3ea11c5bbfc50e"
            ]
        ]
    },
    {
        "id": "eb3ea11c5bbfc50e",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "e37ae50a2f8ed5ef",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 100,
        "wires": [
            [
                "730838ec638e822c"
            ]
        ]
    },
    {
        "id": "2ad6d8f95fdc3201",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "f094d9620987bdc4",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "fd9b07ee4ec18b9b"
            ]
        ]
    },
    {
        "id": "ac29e1b761b56299",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "f094d9620987bdc4",
        "name": "Delete scheduleAV",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet requests = [];\nlet id = 1;\n\n// Delete all scheduleAV from range\nfor (let inst = icalToScheduleConf.scheduleInstanceRange[0]; inst <= icalToScheduleConf.scheduleInstanceRange[1]; inst++) {\n  {\n    requests.push({\n      id: String(id),\n      method: \"DELETE\",\n      url: `/api/rest/v2/services/bacnet/local/objects/analog-values/${inst + icalToScheduleConf.scheduleAVInstanceOffset}`\n    });\n\n    id++\n  }\n}\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n  icalToScheduleConf: icalToScheduleConf,\n  rooms: rooms\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 220,
        "wires": [
            [
                "2ad6d8f95fdc3201"
            ]
        ]
    },
    {
        "id": "fd9b07ee4ec18b9b",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "f094d9620987bdc4",
        "name": "Create scheduleAV",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet requests = [];\nlet id = 1;\nlet scheduleAVNbr = 0;\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    scheduleAVNbr++;\n  }\n}\n\nnode.warn(`Creating ${scheduleAVNbr} scheduleAV...`);\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: \"/api/rest/v2/services/bacnet/local/objects/add\",\n      body: {\n        \"object-type\": \"AnalogValue\",\n        \"instance-number\": rooms[i].scheduleID + icalToScheduleConf.scheduleAVInstanceOffset,\n        name: `scheduleAV-${rooms[i].scheduleName}`\n      }\n    });\n\n    id++;\n  }\n}\n\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n  icalToScheduleConf: icalToScheduleConf,\n  rooms: rooms\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 220,
        "wires": [
            [
                "2ea0dfffdd7988af"
            ]
        ]
    },
    {
        "id": "2ea0dfffdd7988af",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "f094d9620987bdc4",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 220,
        "wires": [
            [
                "627ee51b31b9ed93"
            ]
        ]
    },
    {
        "id": "730838ec638e822c",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "e37ae50a2f8ed5ef",
        "name": "Set default",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet requests = [];\nlet id = 1;\n\nfor (let i = 0; i < rooms.length; i++) {\n\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\") {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: `/api/rest/v2/services/bacnet/local/objects/schedules/${rooms[i].scheduleID}`,\n      body: {\n        \"schedule-default\": 19,\n        description: `Room ${rooms[i].scheduleName}`\n      }\n    });\n\n    id++;\n  }\n}\n\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n  icalToScheduleConf: icalToScheduleConf,\n  rooms: rooms\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 100,
        "wires": [
            [
                "29a601698cca258b"
            ]
        ]
    },
    {
        "id": "29a601698cca258b",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "e37ae50a2f8ed5ef",
        "name": "HTTP",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 100,
        "wires": [
            [
                "c7acac67a8591608"
            ]
        ]
    },
    {
        "id": "3737343a5f5872f7",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "28506bdb4077cc5c",
        "name": "Debug controllerSetpoint",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\n\nlet requests = [];\nlet id = 12;\n\nfor (let i = 0; i < 10; i++) {\n\n  if (icalToScheduleConf.createScheduleAV) {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: \"/api/rest/v2/services/bacnet/local/objects/add\",\n      body: {\n        \"object-type\": \"AnalogValue\",\n        \"instance-number\": id,\n        name: `controllerSetpoint-${id}`\n      }\n    });\n\n    id = id + 10;\n  }\n}\n\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 660,
        "wires": [
            [
                "d5b5679c5aca42eb"
            ]
        ]
    },
    {
        "id": "d5b5679c5aca42eb",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "28506bdb4077cc5c",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b1e9fd183195ae36",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "b67f8ba5d9a309f3",
        "name": "Delete all bindings",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet requests = [];\nlet bindingList = [];\nlet id = 1;\n\nfor (let binding in msg.payload) {\n    bindingList.push(binding);\n}\n\nfor (let i = 0; i < bindingList.length; i++) {\n    requests.push({\n        id: String(id),\n        method: \"DELETE\",\n        url: `/api/rest/v2/services/events/bindings/${bindingList[i]}`\n    });\n\n    id++\n}\n\nreturn {\n    method: \"POST\",\n    url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n    headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n    payload: {\n        requests: requests\n    },\n    icalToScheduleConf: icalToScheduleConf,\n    rooms : rooms\n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            [
                "cc7e23eb4d6926a9"
            ]
        ]
    },
    {
        "id": "cc7e23eb4d6926a9",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "b67f8ba5d9a309f3",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "a12c21f788c0e381"
            ]
        ]
    },
    {
        "id": "a6a22eb1ad8b3a08",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "b67f8ba5d9a309f3",
        "name": "List Bindings",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nreturn {\n    method: \"GET\",\n    url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/events/bindings\",\n    headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n    icalToScheduleConf: icalToScheduleConf,\n    rooms : rooms\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 340,
        "wires": [
            [
                "c32af76823764db9"
            ]
        ]
    },
    {
        "id": "c32af76823764db9",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "b67f8ba5d9a309f3",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "b1e9fd183195ae36"
            ]
        ]
    },
    {
        "id": "bd6ef7a8d89555a5",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "b67f8ba5d9a309f3",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 340,
        "wires": [
            [
                "7bfcf7963c7e5a16"
            ]
        ]
    },
    {
        "id": "a12c21f788c0e381",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "b67f8ba5d9a309f3",
        "name": "create Bindings",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\nlet deviceList = global.get(\"g_deviceList\");\n\nlet requests = [];\nlet id = 1;\nlet bindingSetNbr = 0;\n\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    bindingSetNbr++;\n  }\n}\n\nnode.warn(`Creating ${bindingSetNbr} binding sets...`);\n\n/******  For Each room  ******/\nfor (let i = 0; i < rooms.length; i++) {\n  if (rooms[i].control === \"controlledByEventFromIcal\" || rooms[i].control === \"controlledBySchedule\" || rooms[i].control === \"controlledByConstant\") {\n    let deviceTypes = Object.keys(rooms[i].devices);\n    let scheduleName = rooms[i].scheduleName;\n    let scheduleID = rooms[i].scheduleID;\n    let scheduleAVinstanceNum = rooms[i].scheduleID + icalToScheduleConf.scheduleAVInstanceOffset;\n\n    /******  Each device type  ******/\n    for (let j = 0; j < deviceTypes.length; j++) {\n      let AVToBindName = rooms[i].devices[deviceTypes[j]].AVToBindName;\n      let AVToBindNameInstanceNumOffset = deviceList[deviceTypes[j]].bacnet.objects[rooms[i].devices[deviceTypes[j]].AVToBindName].instanceNum;\n      let offsetAV = deviceList[deviceTypes[j]].bacnet.offsetAV;\n\n      /******  Each device Num  ******/\n      for (let k = 0; k < rooms[i].devices[deviceTypes[j]].deviceNums.length; k++) {\n        let deviceNum = rooms[i].devices[deviceTypes[j]].deviceNums[k];\n        let AVToBindNameInstanceNum = deviceList[deviceTypes].bacnet.instanceRangeAV * deviceNum + AVToBindNameInstanceNumOffset + offsetAV;\n\n        requests.push({\n          id: String(id),\n          method: \"POST\",\n          url: `/api/rest/v2/services/events/bindings/binding_scheduleAV-${scheduleName}_${AVToBindName}-${AVToBindNameInstanceNum}`,\n          body: {\n            //key: \"Don't need this??\",\n            type: \"ControlElement\",\n            \"element-a\": `/services/bacnet/local/objects/analog-values/${icalToScheduleConf.scheduleAVInstanceOffset + scheduleID}`,\n            \"element-b\": `/services/bacnet/local/objects/analog-values/${AVToBindNameInstanceNum}`,\n            initialize: \"a-to-b\",\n            \"sync-a-to-b\": {\n              options: { priorities: true, \"write-priority\": 14, value: false, \"out-of-service\": true },\n              triggers: { \"1\": { key: \"1\", \"min-sync-time\": 0.0, type: \"OnChange\" } }\n            }\n          }\n        });\n        id++;\n      }\n    }\n  }\n}\n\n\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n  icalToScheduleConf: icalToScheduleConf,\n  rooms: rooms\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 340,
        "wires": [
            [
                "bd6ef7a8d89555a5"
            ]
        ]
    },
    {
        "id": "462f2068c862359a",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "c3f92ca09dc208e5",
        "name": "Rooms",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\nlet controlledByEventFromIcalNbr = rooms.filter(element => element.control === \"controlledByEventFromIcal\").length;\n\nfunction createEvent() {\n    icalToScheduleConf.controlledByEventFromIcalNbr = controlledByEventFromIcalNbr;\n    icalToScheduleConf.startTimeUpdateSchedule = Date.now();\n    icalToScheduleConf.roomCounter = 0;\n\n    flow.set('sf_icalToScheduleConf', icalToScheduleConf);\n    for (let j = 0; j < rooms.length; j++) {\n        if (rooms[j].control === \"controlledByEventFromIcal\" ) {\n            node.send({\n                action: \"queue\",\n                payload: rooms[j]\n            });\n        }\n    }\n}\n\ncreateEvent();\nsetInterval(createEvent, icalToScheduleConf.timeBetweenScheduleUpdate * 1000); \n\n\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 460,
        "wires": [
            [
                "7645dca7b0aceb54"
            ]
        ],
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "d1224723bc7a5097",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "c3f92ca09dc208e5",
        "name": "Unqueue",
        "func": "let icalToScheduleConf = flow.get('sf_icalToScheduleConf');\n\nicalToScheduleConf.roomCounter++;\n\nif(icalToScheduleConf.roomCounter % icalToScheduleConf.controlledByEventFromIcalNbr == 0){\n    node.warn(`${icalToScheduleConf.controlledByEventFromIcalNbr} rooms processed in ${(Date.now() - icalToScheduleConf.startTimeUpdateSchedule) / 1000} s`);\n    node.status({ fill: \"green\", shape: \"dot\", text: `Process time : ${(Date.now() - icalToScheduleConf.startTimeUpdateSchedule) / 1000} s`});\n    icalToScheduleConf.startTimeUpdateSchedule =  Date.now();\n}\n\nflow.set('sf_icalToScheduleConf',icalToScheduleConf);\n\nmsg.action = \"unqueue\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//flow.set('f_isControllerReady', true);\n",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 460,
        "wires": [
            [
                "7645dca7b0aceb54"
            ]
        ]
    },
    {
        "id": "7645dca7b0aceb54",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "c3f92ca09dc208e5",
        "name": "Room Queue",
        "func": "let roomsQueue = flow.get('f_roomsQueue');\nconst maxQueueSize = 150;\n\n\n//node.status({ fill: \"green\", shape: \"dot\", text: `Queue size : ${roomsQueue.length} ` });\n//node.warn(roomsQueue);\n//node.warn(roomsQueue.length);\n\n////////////////// Queue ////////////////\nif (msg.action === \"queue\") {\n    if (roomsQueue.length >= maxQueueSize) {\n        //node.status({ fill: \"red\", shape: \"dot\", text: `Queue overflow (max : ${maxQueueSize})} ` });\n        node.error(`Room queue has exeeded its maximum size ${maxQueueSize}`);\n        return null;\n    }\n    else if (roomsQueue.length == 0 && flow.get('f_initialStart')) {\n        // First message, no need to queue.\n        flow.set('f_initialStart', false);\n        node.warn(\"Creating events for each room...\");\n        return {\n            \"url\": msg.payload.url,\n            \"timezone\": msg.payload.timeZone,\n            \"preview\": msg.payload.nbrDaysPreview,\n            \"roomConf\": msg.payload,\n            \"status\": { fill: \"green\", shape: \"dot\", text: `Room queue size : ${roomsQueue.length}` }\n\n        }\n    }\n    else {\n        //node.warn(\"Other message, Queue\");\n        roomsQueue.push(msg.payload);\n        flow.set('f_roomsQueue', roomsQueue);\n    }\n}\n\n////////////////// Unqueue ////////////////\nelse if (msg.action === \"unqueue\") {\n    if (roomsQueue.length === 0) {\n        flow.set('f_initialStart', true);\n        //node.warn(\"Unqueue with lenght == 0, initialStart = true\");\n    }\n    else {\n        let newRoom = roomsQueue.shift();\n        flow.set('f_roomsQueue', roomsQueue);\n        //node.warn(\"Unqueue\");\n        return {\n            \"url\": newRoom.url,\n            \"timezone\": newRoom.timeZone,\n            \"preview\": msg.payload.nbrDaysPreview,\n            \"roomConf\": newRoom,\n            \"status\": { fill: \"green\", shape: \"dot\", text: `Room queue size : ${roomsQueue.length}` }\n        }\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "let roomsQueue = [];\nflow.set('f_roomsQueue', roomsQueue);\n\nlet initialStart = true;\nflow.set('f_initialStart', initialStart);\n",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "1638c9f70a6a5b5d"
            ]
        ]
    },
    {
        "id": "45bc9d7175fac2ed",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "c3f92ca09dc208e5",
        "name": "HTTP",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "d1224723bc7a5097"
            ]
        ]
    },
    {
        "id": "1638c9f70a6a5b5d",
        "type": "ical-upcoming",
        "z": "5dbb742ee17c0ff3",
        "g": "c3f92ca09dc208e5",
        "confignode": "90b0640636b3bfc5",
        "timeout": "",
        "timeoutUnits": "seconds",
        "cron": "",
        "name": "Get Room calendar",
        "offsettype": "",
        "offset": "",
        "offsetUnitstype": "",
        "offsetUnits": "",
        "eventtypes": "events",
        "eventtypestype": "eventtypes",
        "calendar": "",
        "calendartype": "str",
        "triggertype": "trigger",
        "trigger": "always",
        "timezone": "",
        "timezonetype": "str",
        "dateformat": "{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }",
        "dateformattype": "json",
        "language": "en",
        "languagetype": "language",
        "filterProperty": "summary",
        "filterPropertytype": "filterProperty",
        "filterOperator": "between",
        "filterOperatortype": "filterOperator",
        "filtertype": "str",
        "filter2type": "str",
        "filter2": "",
        "filter": "",
        "checkall": false,
        "endpreview": "",
        "endpreviewUnits": "",
        "previewtype": "num",
        "preview": "20",
        "previewUnitstype": "previewUnits",
        "previewUnits": "days",
        "pastviewtype": "num",
        "pastview": "0",
        "pastviewUnits": "days",
        "pastviewUnitstype": "pastviewUnits",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "a53e15c8f201a4f4"
            ]
        ]
    },
    {
        "id": "a53e15c8f201a4f4",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "c3f92ca09dc208e5",
        "name": "Create events",
        "func": "let icalToScheduleConf = flow.get('sf_icalToScheduleConf');\nlet roomConf = msg.roomConf;\nlet eventNumber = msg.total;\nlet events = [/* {eventStart : Date , eventEnd : Date,, ...}*/];  // List of events to create.\nlet httpRequestEventList = {};\n\n///////////////////////////////////////////////////////////////////////\n/////////////////     Events manipulation  ////////////////////////////\n///////////////////////////////////////////////////////////////////////\nfor (let i = 0; i < eventNumber; i++) {\n\n  // Event are discarded according to their \"event description\" in the ics file.\n  if (!icalToScheduleConf.eventsToDiscard.some(discardStr => msg.payload[i].description?.includes(discardStr))) {\n\n    //////////  groupEvents == true   //////////////\n    if (icalToScheduleConf.groupEvents) {\n      let msgEventStart = new Date(msg.payload[i].eventStart);\n      let msgEventEnd = new Date(msg.payload[i].eventEnd);\n\n      // Check if an event with same year-date-time already exist in events[].\n      const idx = events.findIndex(evt => {\n        return (\n          msgEventStart.getDate() === evt.eventStart.getDate() &&\n          msgEventEnd.getMonth() === evt.eventStart.getMonth() &&\n          msgEventEnd.getFullYear() === evt.eventStart.getFullYear()\n        );\n      });\n\n      if (idx != -1) {    // Event with same year-date-time already exits\n\n        if (msgEventStart < events[idx].eventStart) events[idx].eventStart = msgEventStart; // Update start time\n        if (msgEventEnd > events[idx].eventEnd) events[idx].eventEnd = msgEventEnd;         // Update end time\n        //node.warn(\"idx : \" + idx);\n        //node.warn(events);\n      }\n      else {               // Add a new event\n        //node.warn(\"Event added\");\n        events.push(msg.payload[i]);\n        events.at(-1).eventStart = new Date(events.at(-1).eventStart);  // at(-1) = last index\n        events.at(-1).eventEnd = new Date(events.at(-1).eventEnd);      // at(-1) = last index\n        events.at(-1).summary = \"Merged Events\";\n        //node.warn(events);\n      }\n    }\n\n    //////////  groupEvents == false   //////////////\n    else {\n      //node.warn(\"Event added\");\n      events.push(msg.payload[i]);\n      events.at(-1).eventStart = new Date(events.at(-1).eventStart);  // at(-1) = last index\n      events.at(-1).eventEnd = new Date(events.at(-1).eventEnd);      // at(-1) = last index\n    }\n  }\n  else {\n    //node.warn(`Event ${i} : ${msg.payload[i].summary} is discarded`);\n  }\n}\n\n// node.warn(events);\n\n\n///////////////////////////////////////////////////////////////////////\n/////////////////    HTTP Request Creation   //////////////////////////\n///////////////////////////////////////////////////////////////////////\nlet eventID = 1;\n\nfor (let i = 0; i < events.length; i++) {\n\n  let start = new Date(events[i].eventStart);\n  let end = new Date(events[i].eventEnd);\n\n  // Rule 1 : discard events shorter than 30 minutes\n  const durationMinutes = (end.getTime() - start.getTime()) / (1000 * 60);\n  if (durationMinutes < icalToScheduleConf.minimumSlotDuration) {\n    node.warn(`Event ${i} \"${events[i].summary}\" discarded (duration < ${icalToScheduleConf.minimumSlotDuration} min).`);\n    continue;\n  }\n\n  // Adjust the time with timeOffsetBeforeStart and timeOffsetBeforeEnd\n  if (icalToScheduleConf.groupEvents) {\n    const midnight = new Date(start);\n    midnight.setHours(0, 0, 0, 0);\n\n    start.setMinutes(start.getMinutes() - roomConf.timeOffsetBeforeStart);\n    end.setMinutes(end.getMinutes() - roomConf.timeOffsetBeforeEnd);\n\n    // Rule 2 : Clamp start to midnight if it went before 00:00\n    if (start < midnight) {\n      start = new Date(midnight);\n      node.warn(`Event ${i} \"${events[i].summary}\" clamp to midnight.`);\n    }\n\n    // Rule 3 : ensure start < end.\n    if (start >= end) {\n      node.warn(`Event ${i} \"${events[i].summary}\" discarded  (start >= end).`);\n      continue;\n    }\n  }\n\n\n  // Create Event request\n  let eventObject = {\n    [eventID]: {\n      \"event-priority\": 16,\n      period: {\n        date: {\n          month: start.getMonth() + 1,\n          year: start.getFullYear(),\n          \"day-of-month\": start.getDate()\n        },\n        type: \"Date\"\n      },\n      name: events[i].summary,\n      transitions: {\n        1: {\n          time: start.toLocaleTimeString(\"fr-FR\", { timeZone: icalToScheduleConf.timeZone }),\n          value: roomConf.tempOccupied,\n          key: \"1\"\n        },\n        2: {\n          time: end.toLocaleTimeString(\"fr-FR\", { timeZone: icalToScheduleConf.timeZone }),\n          value: null,\n          key: \"2\"\n        }\n      },\n      key: String(eventID)\n    }\n  };\n  eventID++;\n  httpRequestEventList = { ...httpRequestEventList, ...eventObject };   // Merge with the previous object\n}\n\nlet request = {\n  \"method\": \"POST\",\n  \"url\": `https://${icalToScheduleConf.controllerIPAddress}/api/rest/v2/services/bacnet/local/objects/schedules/${roomConf.scheduleID}`,\n  \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  \"payload\": {\n    \"special-events\": httpRequestEventList,\n    \"object-name\": roomConf.scheduleName,\n    \"schedule-default\": roomConf.tempUnoccupied\n  },\n  \"roomConf\": msg.roomConf\n};\n\nreturn request;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "45bc9d7175fac2ed"
            ]
        ]
    },
    {
        "id": "c7acac67a8591608",
        "type": "link out",
        "z": "5dbb742ee17c0ff3",
        "g": "e37ae50a2f8ed5ef",
        "name": "schedule out",
        "mode": "link",
        "links": [
            "00ecb0c894ef55f1"
        ],
        "x": 1255,
        "y": 100,
        "wires": []
    },
    {
        "id": "35edf377f9e5a17e",
        "type": "link out",
        "z": "5dbb742ee17c0ff3",
        "g": "f094d9620987bdc4",
        "name": "scheduleAV out",
        "mode": "link",
        "links": [
            "6235dce75dbabec5"
        ],
        "x": 1255,
        "y": 220,
        "wires": []
    },
    {
        "id": "7bfcf7963c7e5a16",
        "type": "link out",
        "z": "5dbb742ee17c0ff3",
        "g": "b67f8ba5d9a309f3",
        "name": "bindings out",
        "mode": "link",
        "links": [
            "e2c7c1cb7036dbac"
        ],
        "x": 1255,
        "y": 340,
        "wires": []
    },
    {
        "id": "00ecb0c894ef55f1",
        "type": "link in",
        "z": "5dbb742ee17c0ff3",
        "name": "scheduleAV in",
        "links": [
            "c7acac67a8591608"
        ],
        "x": 55,
        "y": 220,
        "wires": [
            [
                "ac29e1b761b56299"
            ]
        ]
    },
    {
        "id": "6235dce75dbabec5",
        "type": "link in",
        "z": "5dbb742ee17c0ff3",
        "name": "bindings in",
        "links": [
            "35edf377f9e5a17e"
        ],
        "x": 55,
        "y": 340,
        "wires": [
            [
                "a6a22eb1ad8b3a08"
            ]
        ]
    },
    {
        "id": "e2c7c1cb7036dbac",
        "type": "link in",
        "z": "5dbb742ee17c0ff3",
        "name": "link in 1",
        "links": [
            "7bfcf7963c7e5a16"
        ],
        "x": 55,
        "y": 460,
        "wires": [
            [
                "462f2068c862359a"
            ]
        ]
    },
    {
        "id": "627ee51b31b9ed93",
        "type": "function",
        "z": "5dbb742ee17c0ff3",
        "g": "f094d9620987bdc4",
        "name": "Set default",
        "func": "let icalToScheduleConf = msg.icalToScheduleConf;\nlet rooms = msg.rooms;\n\nlet requests = [];\nlet id = 1;\n\nfor (let i = 0; i < rooms.length; i++) {\n\n  //if (rooms[i].control === \"controlledByConstant\") {\n    requests.push({\n      id: String(id),\n      method: \"POST\",\n      url: `/api/rest/v2/services/bacnet/local/objects/analog-values/${rooms[i].scheduleID + icalToScheduleConf.scheduleAVInstanceOffset}`,\n      body: {\n        \"default-value\": rooms[i].tempOccupied\n      }\n    });\n\n    id++;\n  }\n//}\n\n\nreturn {\n  method: \"POST\",\n  url: \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n  headers: { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" },\n  payload: {\n    requests: requests\n  },\n  icalToScheduleConf: icalToScheduleConf,\n  rooms: rooms\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 220,
        "wires": [
            [
                "f0367c194588cec0"
            ]
        ]
    },
    {
        "id": "f0367c194588cec0",
        "type": "http request",
        "z": "5dbb742ee17c0ff3",
        "g": "f094d9620987bdc4",
        "name": "HTTP",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 220,
        "wires": [
            [
                "35edf377f9e5a17e"
            ]
        ]
    },
    {
        "id": "b67f8ba5d9a309f3",
        "type": "group",
        "z": "5dbb742ee17c0ff3",
        "name": "Bindings",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#ffbfbf",
            "label-position": "n"
        },
        "nodes": [
            "b1e9fd183195ae36",
            "cc7e23eb4d6926a9",
            "a6a22eb1ad8b3a08",
            "c32af76823764db9",
            "bd6ef7a8d89555a5",
            "a12c21f788c0e381",
            "7bfcf7963c7e5a16"
        ],
        "x": 114,
        "y": 299,
        "w": 1182,
        "h": 82
    },
    {
        "id": "e37ae50a2f8ed5ef",
        "type": "group",
        "z": "5dbb742ee17c0ff3",
        "name": "Schedule",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "8897ec7dc936e9c1",
            "0a8636783b08fe3e",
            "2f1b85af7c083c81",
            "eb3ea11c5bbfc50e",
            "730838ec638e822c",
            "29a601698cca258b",
            "c7acac67a8591608"
        ],
        "x": 114,
        "y": 59,
        "w": 1182,
        "h": 82
    },
    {
        "id": "f094d9620987bdc4",
        "type": "group",
        "z": "5dbb742ee17c0ff3",
        "name": "ScheduleAV",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "2ad6d8f95fdc3201",
            "ac29e1b761b56299",
            "fd9b07ee4ec18b9b",
            "2ea0dfffdd7988af",
            "35edf377f9e5a17e",
            "627ee51b31b9ed93",
            "f0367c194588cec0"
        ],
        "x": 114,
        "y": 179,
        "w": 1182,
        "h": 82
    },
    {
        "id": "c3f92ca09dc208e5",
        "type": "group",
        "z": "5dbb742ee17c0ff3",
        "name": "Create events",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "462f2068c862359a",
            "d1224723bc7a5097",
            "7645dca7b0aceb54",
            "45bc9d7175fac2ed",
            "1638c9f70a6a5b5d",
            "a53e15c8f201a4f4"
        ],
        "x": 114,
        "y": 419,
        "w": 1172,
        "h": 82
    },
    {
        "id": "28506bdb4077cc5c",
        "type": "group",
        "z": "5dbb742ee17c0ff3",
        "name": "For DEBUG",
        "style": {
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "3737343a5f5872f7",
            "d5b5679c5aca42eb"
        ],
        "x": 454,
        "y": 619,
        "w": 452,
        "h": 82
    },
    {
        "id": "90b0640636b3bfc5",
        "type": "ical-config",
        "url": "",
        "caldav": "",
        "caltype": "ical",
        "name": "",
        "replacedates": false,
        "usecache": false,
        "username": "",
        "password": "",
        "experimental": false,
        "calendar": "",
        "pastWeeks": "0",
        "futureWeeks": "4"
    },
    {
        "id": "7f657f2f68fed6cd",
        "type": "tab",
        "label": "Ical to Schedule",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b406db4738b82ca",
        "type": "group",
        "z": "7f657f2f68fed6cd",
        "name": "For DEBUG",
        "style": {
            "label": true,
            "stroke": "#a4a4a4",
            "label-position": "n",
            "color": "#000000",
            "fill": "#e3f3d3"
        },
        "nodes": [
            "27a0f3f5c52bf7ac",
            "7d748c5aaf6f1f28",
            "e03d575055699f82",
            "d7de0d2acf62511a",
            "796ee58223bb46d8",
            "51d0792f783d7b64",
            "508407b4877e6156",
            "2753821305b99443",
            "ba1a4c3971af99f4",
            "7ae840ac312c92a1",
            "5d8c9942effd2ae3",
            "7b0d764b7536c191",
            "73b61f6057d7d778",
            "36fe9f8855df5088",
            "2678ff700bdbb085",
            "4cce347ee87c0408",
            "14a479c2fe88ba57",
            "725d06026e83ad30"
        ],
        "x": 164,
        "y": 359,
        "w": 982,
        "h": 202
    },
    {
        "id": "2bdeaa9207e91a2e",
        "type": "group",
        "z": "7f657f2f68fed6cd",
        "name": "IcalToSchedule",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "3020ce83a28a56af",
            "a983afd50cbd9ec9",
            "0b29934553d7c1e4",
            "e6fe0c0fedc1e79e",
            "0bf3541841d92d69"
        ],
        "x": 194,
        "y": 39,
        "w": 872,
        "h": 202
    },
    {
        "id": "3020ce83a28a56af",
        "type": "function",
        "z": "7f657f2f68fed6cd",
        "g": "2bdeaa9207e91a2e",
        "name": "TO CONFIGURE",
        "func": "//////////////////////////////////////////////\n//////////////// TO CONFIGURE ////////////////\n//////////////////////////////////////////////\n\nconst printMissingDevice = false;\nconst defaultControl = \"controlledByEventFromIcal\"; //  controlledByEventFromIcal, controlledBySchedule, controlledByConstant, inactive\n\n// 1. Create BACnet Schedule\nconst timeBetweenScheduleUpdate = 60 * 20;    // Seconds, Time to refresh calendar events\nconst scheduleInstanceRange = [0, 50];\nconst groupEvents = true;               // Group events in 1 event/day\nconst timeZone = 'Europe/Paris';        // What are the other options ?\nconst eventsToDiscard = [\"SOBRIETE ENERGETIQUE\"]; // all events that content this string in their description will be ignored\nconst defaultTempOccupied = 20;\nconst defaultTempUnoccupied = 15;\nconst defaultTimeOffsetBeforeStart = 120;            // in mins\nconst defaultTimeOffsetBeforeEnd = 30;              // in mins\nconst defaultNbrDaysPreview = 10;                   // Days, max is defined in the \"Get Room Calendar\" node.\nconst defaultAddSuffixToAdeURL = true;\nconst minimumSlotDuration = 0;                     // in mins\n\n// 2. Analog value for each schedule\nconst scheduleAVInstanceOffset = 10000;  //  The starting instance of theses values\nconst timeBetweenScheduleAVUpdate = 30; //   Seconds\n\n// Info : \n// * minimumSlotDuration is only checked when groupEvents = false.\n// * defaultTimeOffsetBeforeStart and defaultTimeOffsetBeforeEnd are only applied when groupEvents = true.\n// * eventsToDiscard is always appliead whatever groupsEvents value.\n// * control : \n//          controlledByEventFromIcal : createSchedule, add event, create scheduleAV, create Bindings.\n//          controlledBySchedule :      createSchedule,            create scheduleAV, create Bindings.\n//          controlledByConstant :                                 create scheduleAV, create Bindings.\n//          Inactive : Rien.\n\n\n/////////////////////////////\n///// Rooms Informations  ///\n/////////////////////////////\n\n/* Room Template \n{\n    // Mandatory //\n    \"scheduleName\": \"roomName0\",\n    \"devices\": { \"device-1\": { \"deviceNums\": [1, 2, 3], \"AVToBindName\": \"controllerSetpoint\" } },\n    \"url\": 'https://ade-usmb-ro.grenet.fr/jsp/custom/modules/plannings/direct_cal.jsp?data=b5cfb898a9c27be94975c12c6eb30e9233bdfae22c1b52e2cd88eb944acf5364c69e3e5921f4a6ebe36e93ea9658a08f,1&resources=1480&projectId=5&calType=ical&lastDate=2042-08-14',\n    \n    // Optionnal, if not specified the default value will be applied //\n    \"control\": [ controlledByEventFromIcal, controlledBySchedule, controlledByConstant, inactive ]\n    \"nbrDaysPreview\" : defaultNbrDaysPreview,\n    \"tempOccupied\": defaultTempOccupied,\n    \"tempUnoccupied\": defaultTempUnoccupied,\n    \"timeOffsetBeforeStart\": defaultTimeOffsetBeforeStart,\n    \"timeOffsetBeforeEnd\": defaultTimeOffsetBeforeEnd,\n    \"addSuffixToAdeURL\" : defaultAddSuffixToAdeURL\n*/\n\n\nlet rooms = [\n];\n\n\n/////////////////////////////////////////////////\n/////////////// DO NOT MODIFY ///////////////////\n/////////////////////////////////////////////////\nconst controlSet = [\"controlledByEventFromIcal\", \"controlledBySchedule\", \"controlledByConstant\", \"inactive\"];\nconst deviceList = global.get('g_deviceList');    // From LoRaBAC node\n\nif (rooms.length === 0) {\n    node.error(`No Room configuration available`);\n    node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n    return null;\n}\n\nif (!deviceList) {\n    node.error(`Device List missing from LoRaBAC node`);\n    node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n    return null;\n}\n\nfor (let device in deviceList) {\n    if (Object.keys(deviceList).some(dev => deviceList[dev].controller.ipAddress != deviceList[device].controller.ipAddress)) {\n        node.error(`Controller IP Address are not all the same in device list`);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n}\n\nif (scheduleInstanceRange[0] > scheduleInstanceRange[1] || scheduleInstanceRange.length !== 2) {\n    node.error(`Wrong Schedule instance range`);\n    node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n    return null;\n}\n\nif (Object.keys(rooms).length > (scheduleInstanceRange[1] - scheduleInstanceRange[0] + 1)) {\n    node.error(`Too many rooms, increase Schedule Instance Range`);\n    node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n    return null;\n}\n\n\nconst scheduleNames = rooms.map(room => room.scheduleName);\nif (new Set(scheduleNames).size !== scheduleNames.length) {\n    node.error(`Duplicate ScheduleName in room configuration`);\n    node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n    return null;\n}\n\nlet scheduleID = 0;\nlet deviceNums = {};\n\n\nfor (let room in rooms) {\n\n    rooms[room].scheduleID = scheduleID++;\n\n    if (!rooms[room].hasOwnProperty(\"scheduleName\")) {\n        node.error(`One room  has no scheduleName in room configuration`);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"devices\")) {\n        node.error(`Room  ${rooms[room].scheduleName} has no devices`);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"control\")) {\n        rooms[room].control = defaultControl;\n    }\n\n    if (!controlSet.some(element => element == rooms[room].control)) {\n        node.error(`Room  ${rooms[room].scheduleName} control mode doesn't exist`);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"url\") && rooms[room].control === \"controlledByEventFromIcal\") {\n        node.error(`Room  ${rooms[room].scheduleName} has no url`);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].url && rooms[room].control === \"controlledByEventFromIcal\") {\n        node.error(`url falsy value for ${rooms[room].scheduleName}`);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (rooms[room].scheduleID > scheduleInstanceRange[1]) {\n        node.error(`Room ${rooms[room].scheduleName} has a scheduleID over the allocated range (${scheduleInstanceRange[1]}) `);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n\n\n    for (let device in rooms[room].devices) {\n        deviceNums[device] = (deviceNums[device] || []).concat(rooms[room].devices[device].deviceNums);\n        //node.warn(deviceNums);\n\n        if (!Object.keys(deviceList).some(deviceType => deviceType == device)) {\n            node.error(`Room ${rooms[room].scheduleName} has a device type that doesn't belong to the device list`);\n            node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n            return null;\n        }\n\n        if (!Object.keys(deviceList[device].bacnet.objects).some(object => object == rooms[room].devices[device].AVToBindName)) {\n            node.error(`Room ${rooms[room].scheduleName} has a device with AVToBindName (${rooms[room].devices[device].AVToBindName}) that doesn't exist in the device List`);\n            node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n            return null;\n        } else if (deviceList[device].bacnet.objects[rooms[room].devices[device].AVToBindName].dataDirection !== \"downlink\") {\n            node.error(`${rooms[room].devices[device].AVToBindName} can't be an AVToBindName because it is not a downlink object in ${device}`);\n            node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n            return null;\n\n        }\n        rooms[room].devices[device].deviceNums\n        if (rooms[room].devices[device].deviceNums.some(numDevice => numDevice > deviceList[device].identity.maxDevNum)) {\n            node.error(`Room ${rooms[room].scheduleName} has a device number that exceed the maximum (${deviceList[device].identity.maxDevNum}) for device type ${device}`);\n            node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n            return null;\n        }\n\n    }\n\n    if (!rooms[room].hasOwnProperty(\"timeZone\")) {\n        rooms[room].timeZone = timeZone;\n    }\n    if (!rooms[room].timeZone) {\n        node.error(`timeZone falsy value for ${rooms[room].scheduleName} `);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"tempUnoccupied\")) {\n        rooms[room].tempUnoccupied = defaultTempUnoccupied;\n    }\n    if (!rooms[room].tempUnoccupied) {\n        node.error(`tempUnoccupied falsy value : ${rooms[room].tempUnoccupied} `);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"tempOccupied\")) {\n        rooms[room].tempOccupied = defaultTempOccupied;\n    }\n    if (!rooms[room].tempOccupied) {\n        node.error(`tempOccupied falsy value : ${rooms[room].tempOccupied} `);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"timeOffsetBeforeStart\")) {\n        rooms[room].timeOffsetBeforeStart = defaultTimeOffsetBeforeStart;\n    }\n    if (!rooms[room].timeOffsetBeforeStart) {\n        node.error(`timeOffsetBeforeStart falsy value : ${rooms[room].timeOffsetBeforeStart} `);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"timeOffsetBeforeEnd\")) {\n        rooms[room].timeOffsetBeforeEnd = defaultTimeOffsetBeforeEnd;\n    }\n    if (!rooms[room].timeOffsetBeforeEnd) {\n        node.error(`timeOffsetBeforeEnd falsy value : ${rooms[room].timeOffsetBeforeEnd} `);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"nbrDaysPreview\")) {\n        rooms[room].nbrDaysPreview = defaultNbrDaysPreview;\n    }\n    if (!rooms[room].nbrDaysPreview) {\n        node.error(`nbrDaysPreview falsy value : ${rooms[room].nbrDaysPreview} `);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    if (!rooms[room].hasOwnProperty(\"addSuffixToAdeURL\")) {\n        rooms[room].addSuffixToAdeURL = defaultAddSuffixToAdeURL;\n    }\n\n\n    if (rooms[room].addSuffixToAdeURL && rooms[room].control === \"controlledByEventFromIcal\") {\n        const date = new Date();\n        date.setDate(date.getDate() + rooms[room].nbrDaysPreview);\n        let adeSuffixe = date.toISOString().slice(0, 10)\n        if (rooms[room].url.includes(\"&lastDate\")) {\n            rooms[room].url = rooms[room].url.replace(/&lastDate=\\d{4}-\\d{2}-\\d{2}/, `&lastDate=${adeSuffixe}`);\n        }\n        else {\n            rooms[room].url += `&lastDate=${adeSuffixe}`;\n        }\n    }\n}\n\n\nlet missingDev = \"INFO : Missing devices : \";\nfor (let device in deviceNums) {\n    const deviceNumSet = new Set(deviceNums[device]);\n\n    if (deviceNumSet.size !== deviceNums[device].length) {\n        node.error(`${device} as duplicate device Numbers in the configuration`);\n        node.status({ fill: \"red\", shape: \"dot\", text: `Configuration error` });\n        return null;\n    }\n\n    missingDev += device + \" : \";\n    for (let i = 1; i < Math.max(...deviceNumSet); i++) {\n        if (!Array.from(deviceNumSet).some(element => element == i)) {\n            missingDev += i + \", \";\n        }\n    }\n}\n\nif (printMissingDevice) {\n    node.warn(missingDev);\n}\n\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `Configuration OK` });\n\nfor (let device in deviceList) {\n    const buffer = Buffer.from(deviceList[device].controller.login + ':' + deviceList[device].controller.password);\n    deviceList[device].controller.httpAuthentication = \"Basic \" + buffer.toString('base64');\n}\n\n// Store variables\n\nlet icalToScheduleConf = {\n    controllerIPAddress: deviceList[Object.keys(deviceList)[0]].controller.ipAddress,\n    controllerLogin: deviceList[Object.keys(deviceList)[0]].controller.login,\n    controllerPassword: deviceList[Object.keys(deviceList)[0]].controller.password,\n    httpAuthentication: deviceList[Object.keys(deviceList)[0]].controller.httpAuthentication,\n    timeBetweenScheduleUpdate: timeBetweenScheduleUpdate,\n    timeBetweenScheduleAVUpdate: timeBetweenScheduleAVUpdate,\n    defaultTimeOffsetBeforeStart: defaultTimeOffsetBeforeStart,     // To remove ?\n    defaultTimeOffsetBeforeEnd: defaultTimeOffsetBeforeEnd,         // To remove ?\n    scheduleInstanceRange: scheduleInstanceRange,\n    groupEvents: groupEvents,\n    timeZone: timeZone,                                             // To remove ?\n    eventsToDiscard: eventsToDiscard,\n    scheduleAVInstanceOffset: scheduleAVInstanceOffset,\n    minimumSlotDuration: minimumSlotDuration,\n}\n\nflow.set('f_icalToScheduleConf', icalToScheduleConf); // For Debug section only (to reach the BMS IP address)\n//flow.set('f_rooms', rooms);\n\nreturn msg = {\n    icalToScheduleConf: icalToScheduleConf,\n    rooms: rooms\n};\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "0b29934553d7c1e4",
                "e6fe0c0fedc1e79e",
                "0bf3541841d92d69"
            ]
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "a983afd50cbd9ec9",
        "type": "inject",
        "z": "7f657f2f68fed6cd",
        "g": "2bdeaa9207e91a2e",
        "name": "Start after 0.5s",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "3020ce83a28a56af"
            ]
        ]
    },
    {
        "id": "27a0f3f5c52bf7ac",
        "type": "inject",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 225,
        "y": 400,
        "wires": [
            [
                "7d748c5aaf6f1f28"
            ]
        ],
        "l": false
    },
    {
        "id": "7d748c5aaf6f1f28",
        "type": "function",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "List Schedules",
        "func": "let icalToScheduleConf = flow.get('f_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects/schedules\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 400,
        "wires": [
            [
                "e03d575055699f82"
            ]
        ]
    },
    {
        "id": "e03d575055699f82",
        "type": "http request",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "d7de0d2acf62511a"
            ]
        ]
    },
    {
        "id": "d7de0d2acf62511a",
        "type": "debug",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "Schedules",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "796ee58223bb46d8",
        "type": "inject",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 225,
        "y": 440,
        "wires": [
            [
                "51d0792f783d7b64"
            ]
        ],
        "l": false
    },
    {
        "id": "51d0792f783d7b64",
        "type": "function",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "List Bindings",
        "func": "let icalToScheduleConf = flow.get('f_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/events/bindings\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication , \"Content-Type\": \"application/json\" }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "508407b4877e6156"
            ]
        ]
    },
    {
        "id": "508407b4877e6156",
        "type": "http request",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "2753821305b99443"
            ]
        ]
    },
    {
        "id": "2753821305b99443",
        "type": "debug",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "Bindings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "ba1a4c3971af99f4",
        "type": "function",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "Delete all bindings",
        "func": "let icalToScheduleConf = flow.get('f_icalToScheduleConf');\n\nlet requests = [];\nlet bindingList = [];\nlet id = 1;\n\nfor(let binding in msg.payload){\n    bindingList.push(binding);\n}\n\n\nfor (let i = 0 ; i < bindingList.length ; i++) {\nrequests.push(JSON.parse(`{ \"id\": \"${id}\", \"method\": \"DELETE\", \"url\": \"/api/rest/v2/services/events/bindings/${bindingList[i]}\"}`)); //Bindings name\n    id++\n}\n\n\nreturn {\n    \"method\": \"POST\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/batch\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication , \"Content-Type\": \"application/json\" },\n    \"payload\": {\n        \"requests\": requests\n    }\n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 480,
        "wires": [
            [
                "7b0d764b7536c191"
            ]
        ]
    },
    {
        "id": "7ae840ac312c92a1",
        "type": "inject",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 225,
        "y": 480,
        "wires": [
            [
                "73b61f6057d7d778"
            ]
        ],
        "l": false
    },
    {
        "id": "5d8c9942effd2ae3",
        "type": "debug",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "Bindings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 480,
        "wires": []
    },
    {
        "id": "7b0d764b7536c191",
        "type": "http request",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 880,
        "y": 480,
        "wires": [
            [
                "5d8c9942effd2ae3"
            ]
        ]
    },
    {
        "id": "73b61f6057d7d778",
        "type": "function",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "List Bindings",
        "func": "let icalToScheduleConf = flow.get('f_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/events/bindings\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication , \"Content-Type\": \"application/json\" }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "36fe9f8855df5088"
            ]
        ]
    },
    {
        "id": "36fe9f8855df5088",
        "type": "http request",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "4137b33b296425ab",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "ba1a4c3971af99f4"
            ]
        ]
    },
    {
        "id": "0b29934553d7c1e4",
        "type": "subflow:5dbb742ee17c0ff3",
        "z": "7f657f2f68fed6cd",
        "g": "2bdeaa9207e91a2e",
        "name": "Configuration",
        "x": 930,
        "y": 80,
        "wires": []
    },
    {
        "id": "e6fe0c0fedc1e79e",
        "type": "subflow:06caa6a694a2292a",
        "z": "7f657f2f68fed6cd",
        "g": "2bdeaa9207e91a2e",
        "name": "scheduleAV update",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "4cce347ee87c0408",
        "type": "function",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "GET all objects",
        "func": "let icalToScheduleConf = flow.get('f_icalToScheduleConf');\n\nreturn {\n    \"method\": \"GET\",\n    \"url\": \"https://\" + icalToScheduleConf.controllerIPAddress + \"/api/rest/v2/services/bacnet/local/objects\",\n    \"headers\": { Authorization: icalToScheduleConf.httpAuthentication, \"Content-Type\": \"application/json\" }\n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            [
                "725d06026e83ad30"
            ]
        ]
    },
    {
        "id": "14a479c2fe88ba57",
        "type": "inject",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "Send Request",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 225,
        "y": 520,
        "wires": [
            [
                "4cce347ee87c0408"
            ]
        ],
        "l": false
    },
    {
        "id": "725d06026e83ad30",
        "type": "http request",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "HTTP",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "981e3c64757e1f1b",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 520,
        "wires": [
            [
                "2678ff700bdbb085"
            ]
        ]
    },
    {
        "id": "2678ff700bdbb085",
        "type": "debug",
        "z": "7f657f2f68fed6cd",
        "g": "4b406db4738b82ca",
        "name": "Objects",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 520,
        "wires": []
    },
    {
        "id": "0bf3541841d92d69",
        "type": "subflow:14f091f3eb70505e",
        "z": "7f657f2f68fed6cd",
        "g": "2bdeaa9207e91a2e",
        "name": "",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "4137b33b296425ab",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "981e3c64757e1f1b",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]