Addons/Binding_ScheduleAV--DeviceAV_Addon.json
[
    {
        "id": "7ddffdaa1703591f",
        "type": "debug",
        "z": "09ebd12a5619dd1a",
        "name": "debug HTTP binding",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 620,
        "wires": []
    },
    {
        "id": "36cd858ee8b84b98",
        "type": "group",
        "z": "09ebd12a5619dd1a",
        "name": "binding between schedules Analog values and devices Analog values ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000",
            "stroke": "#ffC000"
        },
        "nodes": [
            "908455a316b436d6",
            "3c195491ad1bc1ed",
            "7ff56057f93ed935",
            "62e77a0aecf70eae",
            "e4eac157f7ae6cbe",
            "3c8e1323dff7acc1",
            "3eacf432c60b7a58"
        ],
        "x": 34,
        "y": 480,
        "w": 1012,
        "h": 121
    },
    {
        "id": "908455a316b436d6",
        "type": "inject",
        "z": "09ebd12a5619dd1a",
        "g": "36cd858ee8b84b98",
        "name": "Link",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 95,
        "y": 560,
        "wires": [
            [
                "3c195491ad1bc1ed"
            ]
        ],
        "l": false
    },
    {
        "id": "3c195491ad1bc1ed",
        "type": "function",
        "z": "09ebd12a5619dd1a",
        "g": "36cd858ee8b84b98",
        "name": "Binding between setpoint and schedule analog value",
        "func": "\nconst rooms = flow.get(\"f_rooms\");\nlet deviceInstanceRange = flow.get(\"f_deviceInstanceRange\");\nvar setPoint;\nconst deviceObjectInstanceNum = flow.get(\"f_deviceObjectInstanceNum\");\nconst deviceInstanceOffset = flow.get(\"f_deviceInstanceOffset\"); //this offset come from the LoRaBAC application\nlet schedulesAnalogValuesOffset = flow.get(\"f_schedulesAnalogValuesOffset\");\nvar property_references = [];\n\nfor (var room in rooms) {\n    let scheduleID = rooms[room][\"ScheduleID\"];\n    let roomName = rooms[room].name;\n    let devTable = rooms[room].devices;\n    for (let device in devTable) {\n    \n        // Return HTTP Request\n        node.send({\n            \"request\":{\n                \"method\": \"POST\",\n                \"url\": \"https://\" + flow.get('f_controllerIP') + \"/api/rest/v2/services/events/bindings/\" + roomName + \"-device-\" + devTable[device],\n                \"headers\": {\n                  Authorization: flow.get(\"f_akey\"),\n                  ContentType: \"application/json\"\n                },\n                 \"payload\": {\n                    \"key\": roomName + \"-device-\" + devTable[device],\n                    \"sync-a-to-b\": {\n                        \"options\": {\n                            \"priorities\": true,\n                            \"write-priority\": 14,\n                            \"value\": false,\n                            \"out-of-service\": true\n                        },\n                        \"triggers\": {\n                            \"1\": {\n                                \"key\": \"1\",\n                                \"min-sync-time\": 0.0,\n                                \"type\": \"OnChange\"\n                            }\n                        }\n                    },\n                    \"element-b\": \"/services/bacnet/local/objects/analog-values/\" + ((devTable[device] * deviceInstanceRange) + deviceInstanceOffset + deviceObjectInstanceNum),\n                    \"element-a\": \"/services/bacnet/local/objects/analog-values/\" + (scheduleID + schedulesAnalogValuesOffset),\n                    \"initialize\": \"b-to-a\",\n                    \"type\": \"ControlElement\",\n                    \"sync-b-to-a\": {\n                        \"options\": {\n                            \"priorities\": true,\n                            \"write-priority\": 14,\n                            \"value\": false,\n                            \"out-of-service\": true\n                        },\n                        \"triggers\": {\n                            \"1\": {\n                                \"key\": \"1\",\n                                \"min-sync-time\": 0.0,\n                                \"type\": \"OnChange\"\n                            }\n                        }\n                    }\n                },\n                \"requestTimeout\": 5000\n            }\n        });\n}\n}   ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "62e77a0aecf70eae"
            ]
        ]
    },
    {
        "id": "7ff56057f93ed935",
        "type": "http request",
        "z": "09ebd12a5619dd1a",
        "g": "36cd858ee8b84b98",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "c1fc527789e0bc0d",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 560,
        "wires": [
            [
                "7ddffdaa1703591f"
            ]
        ]
    },
    {
        "id": "62e77a0aecf70eae",
        "type": "queue",
        "z": "09ebd12a5619dd1a",
        "g": "36cd858ee8b84b98",
        "name": "",
        "input": "request",
        "inputType": "msg",
        "addFields": "{}",
        "addFieldsType": "json",
        "pourType": "initial",
        "pourTypeType": "pourType",
        "pourTime": "",
        "pourTimeType": "num",
        "pourAmount": "1",
        "pourAmountType": "num",
        "maxUseMemory": "",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "3eacf432c60b7a58"
            ]
        ]
    },
    {
        "id": "e4eac157f7ae6cbe",
        "type": "complete",
        "z": "09ebd12a5619dd1a",
        "g": "36cd858ee8b84b98",
        "name": "HTTP request complete",
        "scope": [
            "7ff56057f93ed935"
        ],
        "uncaught": false,
        "x": 285,
        "y": 521,
        "wires": [
            [
                "3c8e1323dff7acc1"
            ]
        ]
    },
    {
        "id": "3c8e1323dff7acc1",
        "type": "change",
        "z": "09ebd12a5619dd1a",
        "g": "36cd858ee8b84b98",
        "name": "dequeue",
        "rules": [
            {
                "t": "set",
                "p": "dequeue",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 471,
        "y": 521,
        "wires": [
            [
                "62e77a0aecf70eae"
            ]
        ]
    },
    {
        "id": "3eacf432c60b7a58",
        "type": "function",
        "z": "09ebd12a5619dd1a",
        "g": "36cd858ee8b84b98",
        "name": "rebuild msg",
        "func": "msg = { \n    \"method\": msg.request[0].method, \n    \"url\": msg.request[0].url, \n    \"headers\": msg.request[0].headers, \n    \"payload\": msg.request[0].payload,\n    \"requestTimeout\": msg.request[0].requestTimeout\n     }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 560,
        "wires": [
            [
                "7ff56057f93ed935"
            ]
        ]
    },
    {
        "id": "c1fc527789e0bc0d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]